include ../../mixins/partner-card

-
  const partners = [

    {
      title: 'Нотариус города Москвы <br/>Радченко Илья Владимирович',
      desc: 'Работает в должности нотариуса с 2001 года, лицензия на осуществление нотариальной деятельности № 000891 выдана Управлением юстиции города Москвы 12 марта 1998 года.',
      link: 'http://www.notar-radchenko.ru'
    },

    {
      title: 'Нотариус города Москвы <br/>Гоголев Николай Владимирович',
      desc: 'У сотрудников нашей нотариальной конторы имеются Лицензии на право нотариальной деятельности, что позволяет подготовить документы любой сложности. Квалифицированный и доброжелательный коллектив нотариальной конторы, поможет Вам решить любые возникшие вопросы, окажет профессиональную помощь в подготовке необходимых документов.',
      link: 'http://www.notarius-gogolev.ru'
    },

    {
      title: 'Лингвистический клуб LingvoClub',
      desc: 'Разговорный клуб английского, французского языка.',
      link: 'https://www.lingvoclub.ru'
    },

    {
      title: 'The USA Birth Consulting',
      desc: 'Предлагает своим клиентам – гражданам Российской Федерации – пакет консультационных услуг по планированию и подготовке поездки в Соединенные Штаты Америки.',
      link: 'http://www.usabirth.ru'
    },
  ]

section.partner
  .container
    h2.lw-section-title Наши партнеры
    .partner__list
      each partner in partners
        +partner-card(partner)
