.accordeon {
  margin-bottom: 40px;

  @include m-b-tablet-lg-down {
    margin-bottom: 30px;
  }

  @include m-b-mobile-lg-down {
    margin-bottom: 20px;
  }

  &-container {
    @extend .flex-column;

    & > a {
      font-weight: 600;
      font-size: 16px;
      line-height: 1.3;
      letter-spacing: 0.05em;
      text-decoration-line: underline;
      text-transform: uppercase;

      margin: 0 auto;
      margin-bottom: 10px;
      color: var(--accent);

      @extend .hover-opacity-transition;

      @include m-b-down(375px) {
        font-size: 14px;
      }
    }
  }

  &-item {
    margin-bottom: 20px;
    background-color: var(--main-accordeon-bg);

    &.collapsed {
      .accordeon-item-header {
        @extend .hover-opacity-transition;

        svg {
          transform: rotate(180deg);
        }
      }

      .accordeon-item-body {
        display: none;
      }
    }

    &-header {
      @extend .flex-wrap;
      align-items: center;

      @extend .inner-offset;

      &--sticky {
        position: sticky;
        top: 85px;
        background-color: #fbfafa;;
      }

      h3,
      &-title {
        max-width: calc(100% - 80px);
        font-size: 22px;
        padding-right: 30px;
        font-weight: 700;

        @include m-b-tablet-lg-down {
          font-size: 20px;
        }

        @include m-b-tablet-down {
          font-size: 18px;
          max-width: calc(100% - 50px);
          padding-right: 20px;
        }

        @include m-b-mobile-lg-down {
          font-size: 16px;
          max-width: calc(100% - 30px);
          padding-right: 10px;
        }

        @include m-b-down(375px) {
          font-size: 14px;
        }
      }

      svg {
        margin-left: auto;
        fill: var(--secondary);

        transition: transform var(--main-transition);

        @include m-b-mobile-lg-down {
          width: 16px;
          height: 16px;
        }
      }

      cursor: pointer;
    }

    &-body {
      @extend .inner-offset;
      padding-top: 0;

      font-size: 16px;
      color: var(--secondary);

      a {
        text-decoration: underline;
        color: var(--accent);
      }

      p,a {
        margin-bottom: 15px;
      }
    }

    a {
      @extend .hover-opacity-transition;
    }
  }
}
