.info-banner {
  position: relative!important;
  @extend .flex-column;
  align-items: center!important;
  justify-content: center!important;
  height: 100%!important;
  max-height: 280px!important;

  &::before {
    position: absolute!important;
    top: 0!important;
    left: 0!important;
    width: 100%!important;
    height: 8px!important;
    content: ''!important;
    background-color: var(--info)!important;
  }

  @extend .inner-offset;
  background-color: var(--main-bg-color)!important;
  box-shadow: 0px 76px 30px rgba(38, 38, 52, 0.01), 0px 43px 26px rgba(38, 38, 52, 0.03), 0px 19px 19px rgba(38, 38, 52, 0.04), 0px 5px 10px rgba(38, 38, 52, 0.05), 0px 0px 0px rgba(38, 38, 52, 0.05)!important;

  &-title {
    display: inline-block;
    font-weight: 700!important;
    font-size: 22px!important;
    line-height: 1.2!important;

    text-align: center!important;
    margin: 0!important;
    margin-bottom: 15px!important;
    color: var(--main-color)!important;

    @include m-b-mobile-lg-down {
      font-size: 20px!important;
    }
  }

  & > span {
    font-weight: 700!important;
    font-size: 50px!important;
    line-height: 1.2!important;
    text-align: center!important;
    letter-spacing: -0.02em!important;
    margin-bottom: 10px!important;

    color: var(--info)!important;
  }

  & > small {
    font-size: 16px!important;
    font-weight: 400!important;
    line-height: 1.5!important;

    text-align: center!important;
    margin-bottom: 5px!important;

    color: var(--secondary)!important;
  }

  & > a {
    font-weight: 700 !important;
    font-size: 22px!important;
    line-height: 1.2!important;

    text-align: center!important;
    color: var(--main-color)!important;
    @extend .hover-opacity-transition;
  }
}
