.main-input {
  font-size: 14px;
  line-height: 20px;

  height: 44px;
  width: 100%;

  padding: 12px;

  border: 0;
  border-radius: 2px;

  color: var(--main-control-color);
  background-color: var(--main-control-bg);

  &::placeholder {
    font-size: 14px;
    line-height: 20px;
    color: var(--main-control-placeholder-color);
  }

  &[type="file"] {
    display: none;

    & + label {
      @extend .flex-wrap;
      align-items: center;

      font-weight: 600;
      font-size: 16px;
      line-height: 21px;
      letter-spacing: 0.05em;
      text-transform: uppercase;

      color: var(--accent);

      cursor: pointer;

      svg {
        fill: var(--accent);
        margin-right: 8px;
      }
    }
  }
}

