.main-accordeon {
  &__item {
    margin-bottom: 20px;
    background-color: var(--main-accordeon-bg);

    &.collapsed {
      .accordeon-item-header {
        @extend .hover-opacity-transition;

        svg {
          transform: rotate(0);
        }
      }

      .accordeon-item-body {
        display: none; // temp ?!
      }
    }

    &-header {
      @extend .flex-wrap;
      align-items: center;

      @extend .inner-offset;

      h3 {
        max-width: calc(100% - 80px);
        font-size: 22px;
        padding-right: 30px;

        @include m-b-tablet-lg-down {
          font-size: 20px;
        }

        @include m-b-mobile-lg-down {
          font-size: 18px;
        }
      }

      svg {
        margin-left: auto;
        fill: var(--secondary);
        transform: rotate(180deg);

        transition: transform var(--main-transition);
      }

      cursor: pointer;
    }
  }

  &__body {
    @extend .inner-offset;
    padding-top: 0;

    font-size: 16px;
    color: var(--secondary);

    div {
      margin-bottom: 15px;
    }

    a {
      text-decoration: underline;
      color: var(--accent);
    }
  }

  a {
    @extend .hover-opacity-transition;
  }
}
