.note-banner {
    margin-bottom: 40px;
    @extend .inner-offset;
    background-color: var(--page-note-banner-bg);

    &-title {
      display: inline-block;
      font-size: 22px;
      line-height: 1.2 !important;
      font-weight: 700;
      margin-bottom: 20px !important;

      @include m-b-mobile-lg-down {
        font-size: 20px;
      }
    }

    p {
      line-height: 1.2 !important;
      margin-bottom: 15px !important;
      color: var(--secondary);

      strong {
        color: var(--main-color);
      }
    }

    p:last-child {
      margin-bottom: 0 !important;
    }
  }
