.order-form {
  position: relative;
  @extend .flex-column;

  width: 100%;
  max-width: 1120px;
  height: 100%;
  padding: 50px;
  padding-right: 400px;
  margin: 0 auto;
  background-color: var(--main-bg-color);

  &::after {
    position: absolute;
    top: 0;
    right: 0;

    width: 345px;
    height: 100%;

    content: '';

    background-image: url("../assets/img/woman@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include m-b-down(1240px) {
      width: 50%;
    }

    @include m-b-tablet-down {
      width: 35%;
    }

    @include m-b-mobile-lg-down {
      display: none;
    }
  }

  @include m-b-down(1240px) {
    padding-right: calc(50% + 50px);
  }

  @include m-b-tablet-lg-down {
    padding: 30px;
    padding-right: calc(50% + 30px)
  }

  @include m-b-tablet-down {
    padding-right: calc(35% + 30px)
  }

  @include m-b-mobile-lg-down {
    padding: 20px;
  }

  h2 {
    margin-bottom: 10px;
  }

  p {
    line-height: 26px;

    margin-bottom: 30px;
    color: var(--secondary);
  }

  form {
    margin-bottom: 30px;
    fieldset {
      @extend .fieldset-default;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      grid-column-gap: 20px;
      grid-row-gap: 20px;

      margin-bottom: 20px;

      @include m-b-down(1240px) {
        grid-template-columns: 1fr;
      }

      @include m-b-tablet-lg-down {
        //grid-template-columns: repeat(2, 1fr);
      }

      @include m-b-down(768px) {
        grid-template-columns: 1fr;
      }

      .main-checkbox {
        margin-bottom: 20px;
      }

      .order-form__field > span {
        display: inline-block;
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 20px;
        color: var(--secondary);
      }

      &.hidden {
        display: none;
      }
    }
  }

  &__btn {
    margin-top: auto;
  }
}
