.search {
  position: relative;
  padding-right: 540px;

  @include m-b-laptop-down {
    padding-right: 400px;
  }

  @include m-b-tablet-lg-down {
    padding-right: 340px;
  }

  @include m-b-tablet-down {
    padding-right: 0;
  }

  &::after {
    position: absolute;
    top: 0;
    right: 0;

    content: '';
    width: 490px;
    height: 100%;
    background-image: url("../assets/img/world@1x.png");
    background-repeat: no-repeat;
    background-size: contain;

    @include m-b-laptop-down {
      width: 350px;
    }

    @include m-b-tablet-lg-down {
      width: 300px;
    }

    @include m-b-tablet-down {
      display: none;
    }
  }

  &__note {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 40px;

    color: var(--secondary);

    a {
      text-decoration: underline;
      color: var(--accent);
    }

    @extend .hover-opacity-transition;
  }

  fieldset {
    position: relative;
    width: 100%;
    max-width: 760px;
    height: 44px;
    margin-bottom: 20px;

    input {
      width: 100%;
      height: 100%;
      padding: 12px;
      padding-right: 50px;
      background-color: var(--search-field-bg);
      border-radius: 2px;

      @extend .text-nowrap;
    }

    input,
    input::placeholder {
      font-size: 14px;
      line-height: 1;
    }

    input {
      color: var(--main-color);
    }

    label {
      cursor: pointer;
    }

    svg {
      position: absolute;
      top: 50%;
      right: 12px;
      transform: translateY(-50%);

      fill: var(--secondary);
    }
  }

  &__list {
    @extend .flex-wrap;
    width: 100%;
    max-width: 760px;

    height: fit-content;
    min-height: 50px;
    max-height: 140px;

    padding-left: 12px;
    margin-bottom: 40px;
    overflow: hidden;
    overflow-y: auto;

    a {
      font-size: 16px;
      line-height: 24px;
      height: fit-content;
      color: var(--secondary);
      transition: color var(--main-transition);

      margin-right: 20px;

      @include m-b-tablet-lg-up {

        &:hover,
        &:focus {
          color: var(--accent);
        }
      }

      &.hidden {
        display: none;
      }
    }

    span {
      font-size: 18px;
      color: var(--accent);

      &.hidden {
        display: none;
      }
    }
  }
}
