/*.service-card {
  @extend .flex-column;
  padding: 25px 20px;
  height: 100%;
  width: 100%;

  background: var(--white);
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.25);

  img {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    object-fit: contain;
  }

  a {
    font-size: 16px;
    font-weight: 600;
    text-decoration: underline;
    color: var(--accent);
  }
}*/

.service-slider {
  padding: 5px 0;
  margin-bottom: 30px;

  &-controls {
    display: flex;
    align-items: center;
    margin-left: auto;

    @include m-b-down(420px) {
      margin-left: 0;
    }
  }

  &-button-prev,
  &-button-next {
    position: static;
    right: 0;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin: 0;
    margin-left: 15px;
    box-shadow: var(--main-slider-button-shadow);
    background-color: var(--main-slider-button-color);

    svg {
      fill: var(--accent);
    }

    @include m-b-down(420px) {
      margin-left: 0;
      margin-right: 15px;
    }
  }

  &-button-prev {
    right: 60px;
    left: initial;
    transform: rotate(-180deg);
  }

  .swiper-slide {
    display: flex;
    width: 100%;
    max-width: 280px;
    height: auto;
  }
}
