.tab {
  display: grid;
  grid-template-columns: 300px auto;
  grid-column-gap: 30px;
  margin-bottom: 40px;

  @include m-b-tablet-lg-down {
    grid-template-columns: 200px auto;
  }

  @include m-b-tablet-down {
    display: flex;
    flex-direction: column;
  }

  &-switchers {
    @extend .flex-column;
    position: sticky;
    top: 85px;
    height: fit-content;
    padding: 30px 0;
    margin-bottom: 70px;
    background-color: var(--white);
    z-index: 3;

    @include m-b-tablet-down {
      flex-wrap: wrap;
      flex-direction: row;
      margin-bottom: 30px;
    }

    @include m-b-mobile-lg-down {
      margin-bottom: 10px;
      flex-direction: column;
    }

    a {
      position: relative;
      font-size: 18px;
      line-height: 1.2;
      font-weight: 700;
      width: fit-content;

      color: var(--info);

      opacity: 0.5;
      margin-bottom: 20px;
      @extend .hover-opacity-transition;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: '-';
        color: var(--accent);

        opacity: 0;
        transition: opacity var(--main-transition);
        transition-delay: 0.25;
      }

      transition: padding-left var(--main-transition);

      &.active-tab {
        padding-left: 20px;
        color: var(--accent);
        opacity: 1;

        &::before {
          opacity: 1;
        }
      }

      @include m-b-tablet-lg-down {
        font-size: 18px;
      }

      @include m-b-tablet-down {
        margin-right: 20px;
        margin-bottom: 10px;
      }
    }
  }

  &-content {
    padding-top: 30px;

    @include m-b-mobile-lg-down {
      padding-top: 10px;
    }
  }

  &-content-field {
    line-height: 26px;
    margin-bottom: 40px;

    color: var(--secondary);

    &.collapsed {
      display: none;
    }

    h3 {
      font-weight: 700;
      font-size: 22px;
      line-height: 1.2;
      margin-bottom: 15px;
      color: var(--main-color);
      margin-top: -4px;

      @include m-b-tablet-lg-down {
        font-size: 18px;
        margin-top: 0;
      }
    }

    .float-picture {
      display: flex;
      width: 100%;
      max-width: 15vw;
      min-width: 120px;
      height: auto;
      float: left;
      margin-right: 20px;
    }

    h4 {
      font-size: 16px;
      margin-bottom: 10px;
      color: var(--main-color);
    }

    & > strong {
      display: block;
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 15px;
    }

    a {
      text-decoration: underline;
      color: var(--accent);

      @extend .hover-opacity-transition;
    }

    strong {
      color: var(--main-color);
    }

    small {
      display: block;
      line-height: 1.2;
      margin-bottom: 15px;
    }

    ul {
      padding-left: 20px;
      margin-bottom: 40px;

      li {
        position: relative;
        margin-bottom: 15px;

        &::before {
          position: absolute;
          top: 10px;
          left: -17px;
          content: '';

          width: 8px;
          height: 8px;
          border-radius: 50%;

          background-color: var(--info);
        }
      }

      &.default-list {
        @extend .flex-wrap;

        @include m-b-tablet-lg-down {
          flex-direction: column;
        }

        li {
          width: 50%;
          padding-right: 60px;
          margin-bottom: 5px;

          p {
            margin-bottom: 0;
          }

          @include m-b-tablet-lg-down {
            width: 100%;
            padding-right: 15px;
          }
        }
      }
    }

    .table-wrapper {
      width: 100%;
      overflow: hidden;
      overflow-x: auto;

      @extend .main-scroll;
    }

    table {
      display: block;

      margin-bottom: 20px;
      width: 100%;
      min-width: 720px;

      tr {
        width: 100%;

        &:nth-child(odd) {
          td {
            background-color: #f1f1f1;
          }
        }

        &:nth-child(even) {
          td {
            background-color: #fbfafa;
          }
        }

        &:first-child {
          td {
            font-weight: 700;
            text-align: center;
          }
        }
      }

      td {
        padding: 10px;
        text-align: center;

        font-size: 14px;
        font-weight: 700;
        line-height: 1.4;
        min-width: 240px;
        color: var(--main-color);

        &:first-child {
          font-weight: 400;
          text-align: left;
        }

        small {
          font-size: 12px;
          font-weight: 400;
          line-height: 1.2;
          margin: 0;
          color: var(--secondary);
        }

        &.table-letter {
          font-weight: 700;
          font-size: 16px;
          text-align: center;

          color: var(--secondary);
        }
      }
    }
  }
}
