.tab {
  display: grid;
  grid-template-columns: 300px auto;
  grid-column-gap: 30px;
  margin-bottom: 40px;

  //@extend .inner-offset-left;

  @include m-b-tablet-lg-down {
    grid-template-columns: 200px auto;
  }

  @include m-b-tablet-down {
    display: flex;
    flex-direction: column;
  }

  &-switchers {
    @extend .flex-column;
    position: sticky;
    top: 85px;
    height: fit-content;
    padding-top: 30px;
    margin-bottom: 70px;
    background-color: var(--white);
    z-index: 3;

    @include m-b-tablet-down {
      flex-wrap: wrap;
      flex-direction: row;
      margin-bottom: 30px;
    }

    @include m-b-mobile-lg-down {
      margin-bottom: 10px;
      flex-direction: column;
    }

    a {
      font-size: 22px;
      line-height: 1.2;
      font-weight: 700;
      width: fit-content;
      padding-bottom: 3px;

      color: var(--info);

      opacity: 0.5;
      margin-bottom: 20px;
      @extend .hover-opacity-transition;

      &.active-tab {
        border-bottom: 1px dashed var(--accent);
        color: var(--accent);
        opacity: 1;
      }

      @include m-b-tablet-lg-down {
        font-size: 18px;
      }

      @include m-b-tablet-down {
        margin-right: 20px;
        margin-bottom: 10px;
      }
    }
  }

  &-content {
    padding-top: 30px;

    @include m-b-mobile-lg-down {
      padding-top: 10px;
    }
  }

  &-content-field {
    line-height: 26px;
    margin-bottom: 40px;

    color: var(--secondary);

    &.collapsed {
      display: none;
    }

    h3 {
      font-weight: 700;
      font-size: 22px;
      line-height: 1.2;
      margin-bottom: 15px;
      color: var(--main-color);

      @include m-b-tablet-lg-down {
        font-size: 18px;
      }
    }

    h4 {
      font-size: 16px;
      margin-bottom: 10px;
      color: var(--main-color);
    }

    p {
      margin-bottom: 15px;
    }

    a {
      text-decoration: underline;
      color: var(--accent);
    }

    ul {
      padding-left: 20px;
      margin-bottom: 40px;

      li {
        position: relative;
        margin-bottom: 15px;

        &::before {
          position: absolute;
          top: 10px;
          left: -17px;
          content: '';

          width: 8px;
          height: 8px;
          border-radius: 50%;

          background-color: var(--info);
        }
      }

      &.default-list {
        @extend .flex-wrap;

        @include m-b-tablet-lg-down {
          flex-direction: column;
        }

        li {
          width: 50%;
          padding-right: 60px;
          margin-bottom: 5px;

          p {
            margin-bottom: 0;
          }

          @include m-b-tablet-lg-down {
            width: 100%;
            padding-right: 15px;
          }
        }
      }
    }

    &-banner {
      background-color: #FFF8F2;
      @extend .inner-offset;
      margin-bottom: 40px;
    }
  }
}
