.client {
  @extend .section-padding-60;

  background-image: url("../assets/img/clients-bg@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &__title {
    color: var(--white);
  }

  &__list {
    display: flex;
    align-items: center;
    width: 100%;

    &-item {
      margin: 0 20px;
      padding: 10px;

      svg {
        fill: var(--white);
      }

      @include m-b-mobile-lg-down {
        margin: 0;
      }
    }
  }
}
