.client {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .webp & {
    background-image: url("../assets/img/clients-bg@1x.webp");

    @media (min-resolution: var(--retina-dppx)) and (min-resolution: var(--retina-dpi)) {
      background-image: url("../assets/img/clients-bg@1x.webp");
    }
  }

  .no-webp & {
    background-image: url("../assets/img/clients-bg@1x.jpg");

    @media (min-resolution: var(--retina-dppx)) and (min-resolution: var(--retina-dpi)) {
      background-image: url("../assets/img/clients-bg@2x.jpg");
    }
  }

  overflow: hidden;

  &__title {
    color: var(--white);
  }

  .swiper {
    &-wrapper {
      align-items: center;
    }

    &-slide {
      @extend .flex-centered-content;
      width: fit-content;
      margin: 0 20px;
      padding: 10px;

      svg {
        fill: var(--white);
      }

      @include m-b-mobile-lg-down {
        margin: 0;
      }
    }
  }

  &__list {
    display: flex;
    align-items: center;
    width: fit-content;

    &-item {
      margin: 0 20px;
      padding: 10px;

      svg {
        fill: var(--white);
      }

      img {
        width: initial;
        height: initial;
      }

      @include m-b-mobile-lg-down {
        margin: 0;
        margin-right: 20px;
      }
    }
  }
}
