.client {
  @extend .section-padding-60;

  background-image: url("../assets/img/clients-bg@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  overflow: hidden; //temp

  &__title {
    color: var(--white);
  }

  .swiper {
    &-wrapper {
      align-items: center;
    }

    &-slide {
      @extend .flex-centered-content;
      width: fit-content;
      margin: 0 20px;
      padding: 10px;

      svg {
        fill: var(--white);
      }

      @include m-b-mobile-lg-down {
        margin: 0;
      }
    }
  }

  &__list {
    display: flex;
    align-items: center;
    width: fit-content;

    &-item {
      margin: 0 20px;
      padding: 10px;

      svg {
        fill: var(--white);
      }

      @include m-b-mobile-lg-down {
        margin: 0;
        margin-right: 20px;
      }
    }
  }
}
