.faq-section {
  @extend .flex-column;

  .accordeon {
    margin-bottom: clamp(20px, 4vw, 60px);
  }

  & > a {
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.05em;
    text-decoration-line: underline;
    text-transform: uppercase;

    margin: 0 auto;
    margin-bottom: clamp(40px, 5vw, 80px);
    color: var(--accent);

    @extend .hover-opacity-transition;
  }
}
