.header {
  position: sticky;
  top: -82px;
  z-index: 99;
  background-color: var(--main-bg-color);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;

  @include m-b-down(1360px) {
    top: 0;
  }

  &__container {
    @extend .flex-column;
  }

  .main-logo {
    @extend .flex-centered-content;
    margin-right: 20px;

    @include m-b-mobile-lg-down {
      margin-right: auto;
      width: 146px;
    }

    @include m-b-down(960px) {
      margin-right: auto;
    }
  }

  &__address {
    display: flex;
    gap: 24px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 1340px) {
      flex-direction: column;
      gap: 5px;
      align-items: flex-start;
    }

    @include m-b-tablet-lg-down {
      display: none;
    }

    span {
      position: relative;
      padding-left: 24px;

      background-repeat: no-repeat;
    }

    span::before {
      position: absolute;
      content: "";
      width: 16px;
      height: 16px;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    span:first-child {
      background-image: url("../assets/img/icon-location.svg");
    }
    span:last-child {
      background-image: url("../assets/img/icon-location-alt.svg");
    }
  }

  &__search-btn {
    @extend .button-default;
    @extend .flex-centered-content;
    width: 40px;
    height: 40px;
    margin: 0 10px;

    @include m-b-down(374px) {
      display: none;
    }
  }

  &__contact {
    @extend .flex-column;
    z-index: 1;
    &-phone,
    &-mail {
      font-weight: 600;
      color: var(--accent);

      @extend .hover-opacity-transition;
    }

    &-phone {
      font-size: 18px;
      line-height: 27px;
    }

    &-mail {
      font-size: 14px;
      line-height: 20px;
    }

    @include m-b-mobile-lg-down {
      display: none;
    }
  }

  &__burger {
    display: none;
    margin-left: 15px;

    @include m-b-down(1360px) {
      display: flex;
    }
  }

  &__top {
    @extend .flex-wrap;
    align-items: center;
    padding-top: 15px;
    margin-bottom: 15px;
  }

  &__bottom {
    @extend .flex-wrap;
    align-items: center;
    background-color: var(--main-bg-color);
    border-top: 1px solid rgba(17, 17, 26, 0.1);

    @include m-b-down(1360px) {
      display: none;
    }
  }
}
