.info-section {
  margin-bottom: clamp(30px, 5vw, 80px);

  a {
    @extend .hover-opacity-transition;
  }

  h3 {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 20px;
  }

  .order-step-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    @include m-b-laptop-down {
      grid-template-columns: repeat(3, 1fr);
    }

    @include m-b-down(668px) {
      display: flex;
      flex-direction: column;
    }

    li {
      @extend .inner-offset;
      background-color: var(--order-step-card-bg);

      span {
        display: inline-block;
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;

        margin-bottom: 10px;
        color: var(--info);
      }

      p {
        font-size: 14px;
        line-height: 20px;

        a {
          text-decoration: underline;
          color: var(--accent);
        }
      }

      @include m-b-laptop-down {
        &:nth-child(3) {
          grid-column: 3/4;
          grid-row: 1/3;
        }
      }

      @include m-b-down(896px) {
        &:nth-child(3) {
          grid-column: 3/4;
          grid-row: 1/2;
        }

        &:last-child {
          grid-column: 2/4;
          grid-row: 2/3;
        }
      }

      @include m-b-down(668px) {
        width: 100%;
        padding-right: 20%;
      }
    }
  }
}
