section.info-block-section
  .container
    h2.lw-section-title Нотариальное заверение перевода

    .info-block
      .info-block__section
        p <strong>Нотариальное заверение перевода документа</strong> - засвидетельствование нотариусом подписи дипломированного переводчика, выполнившего данный письменный перевод. При этом перевод документа подшивается либо к оригиналу документа, либо к нотариальной копии этого документа, либо к обычной ксерокопии документа.

        p Многие учреждения не принимают переводы документов без их нотариального заверения.

        p Наше бюро тесно сотрудничает с нотариусами. Некоторые из наших офисов находятся при нотариальных конторах. Это даёт возможность оперативно выполнять нотариальное заверение письменных переводов.

        p <strong>Мы приглашаем к сотрудничеству бюро переводов и любые компании, имеющие в штате переводчиков, для заверения ваших переводов у наших нотариусов по льготной цене. Обращаем внимание на то, что данное предложение действительно только для компаний, которые готовы сотрудничать на постоянной основе!</strong>

        p Условия и стоимость льготного заверения перевода для одного документа:

        ul.info-block__section-list
          li
            p Вы приносите уже полностью подготовленные для заверения документы (перевод сшит с переводимым документом, заверительные надписи переводчика и нотариуса вставлены в текст в конце перевода*), количество документов превышает 10 шт.
            strong Стоимость: 550 руб.

          li
            p Вы приносите уже полностью подготовленные для заверения документы (перевод сшит с переводимым документом, заверительные надписи переводчика и нотариуса вставлены в текст в конце перевода*), количество документов до 10 шт.
            strong Стоимость: 600 руб.

          li
            p Вы присылаете нам на почту скан оригинала документа и выполненный вашим переводчиком перевод, количество заверяемых переводов превышает 10 шт.
            strong Стоимость: 600 руб.

          li
            p Вы присылаете нам на почту скан оригинала документа и выполненный вашим переводчиком перевод, количество заверяемых переводов до 10 шт.
            strong Стоимость: 650 руб. + 5 руб. за распечатанную страницу.

        small * - мы предоставляем образцы заверительной надписи переводчика и нотариуса, в день заверения необходимо по телефону уточнить какой переводчик и нотариус заверяют переводы.

        small Для постоянных клиентов с большим объёмом заверений переводов предусмотрена дополнительная скидка.

      .info-block__section
        h3 Нотариальное заверение перевода: виды работ

        p Московское бюро переводов «Импрешн» может осуществить нотариальный перевод как легализованных, так и не легализованных документов. Также наше бюро выполняет переводы и нотариальное заверение переводов обычных ксерокопий документов.

        p <strong>В компании «Импрешн» осуществляется заверение переводов подписью переводчика и печатью переводческой организации.</strong>

        p Подробнее о стоимости нотариального удостоверения подлинности подписи переводчика на переводе документа и заверения перевода печатью организации Вы можете ознакомиться <a href="price.html">здесь</a>

      .info-block__section
        h3 Случаи, при которых перевод не заверяется нотариусом

        p При совершении <strong>нотариального заверения перевода</strong> нотариус проверяет представленный документ и его перевод на соответствие требованиям законодательства РФ и международным договорам. В случае возникновения сомнений у нотариуса по поводу правильности оформления исходного документа, он вправе отказаться заверять перевод этого документа. Так, если иностранный официальный документ содержит подчистки или приписки, зачеркнутые слова и иные неоговоренные исправления, а в документах, объем которых превышает один лист, есть непрошитые, непронумерованные или не скрепленные печатью страницы, — нотариус вправе отказать в заверении перевода (ст. 45, «Основы законодательства Российской Федерации о нотариате»).
