section.template
  .container
    h2.lw-section-title Образцы доверенностей

    h3 Доверенность для получения справки о несудимости


    .note-banner
      p Текст доверенности:
      p
        | быть моими представителями во всех организациях и учреждениях России, в том числе в Министерстве юстиции РФ, ГУВД г. Москвы, ГУВД Московской области, Главном информационно-аналитическом центре МВД РФ (ГИАЦ МВД России), паспортном столе, по вопросу получения любых справок, документов, в том числе  справки на мое имя об отсутствии судимости и ненахождении под судом и следствием, проставления на справках и документах штампа «АПОСТИЛЬ», для чего предоставляю право делать от моего имени заявления, запросы, представлять и получать необходимые документы, расписываться за меня и совершать все действия, связанные с выполнением данного поручения.
        | Полномочия по настоящей доверенности могут быть переданы другим лицам.
        | Доверенность выдана сроком на один год.
