include ../../mixins/main-accordeon

-
  const accordeonContent = [
    {
      title: 'Зачем нужна консульская легализация документов ?',

      content: [`
          <div><p>К нам часто обращаются с вопросом «что такое консульская легализация документов?»
          Говоря простым языком, консульская легализация документов представляет собой процедуру
          оформления документа должным образом и удостоверения его в соответствующих государственных
          органах. В результате данной процедуры документы приобретают законную силу на территории
          другого государства. Чтобы ваши документы были приняты к рассмотрению на территории другого
          государства, они должны пройти процедуру консульской легализации. В процессе консульской
          легализации документа нотариусом подтверждается верность копии этого документа,
          Министерством юстиции удостоверяется подлинность подписи и печати нотариуса,
          Министерством иностранных дел удостоверяется подлинность подписи сотрудника
          и печати Министерства юстиции, а в Консульстве соответствующей страны уже удостоверяется
          подлинность подписи сотрудника и печати Министерства иностранных дел.
          В результате на копии легализованного документа должны стоять печати нотариуса,
          Министерства юстиции, Министерства иностранных дел и Консульства иностранного государства.
          Чтобы успешно пройти процедуру легализации, документ должен быть правильно оформлен
          и переведён на язык, который устанавливается Консульством данной страны.
          Процедура легализации документов проходит поэтапно и занимает примерно 3 недели.
          Чтобы в конце данного процесса не получить отказ в Консульстве данной страны
          или даже на более ранних этапах его выполнения, мы рекомендуем обращаться к профессионалам,
          имеющим большой опыт в данной сфере услуг. Компания «Импрешн» занимается консульской
          легализацией около 10 лет. Мы досконально знаем все требования по данной процедуре на каждом
          её этапе исполнения. Кроме того, нашу компанию хорошо знают в различных
          госудаственных органах и Консульствах разных стран. Нередко к нам приходят заказчики
          и говорят, что компанию «Импрешн» рекомендовали в Консульстве той или иной страны.</p></div>
        `,
        `<div><a href="#">Примеры наших работ по консульской легализации документов.</a></div>`
      ]
    },

    {
      title: 'Какие документы требуют консульской легализации ?',
      content: [
        `<div><p>На этот вопрос нельзя ответить однозначно. Всё зависит от конкретной ситуации.
        Поэтому список документов, которые требуется легализовать в Консульстве, необходимо уточнять в том месте,
        куда эти документы будут подаваться. Наиболее часто требуют консульской легализации следующие документы:
        диплом о высшем образовании, аттестат о среднем образовании, свидетельство о рождении, свидетельство о браке,
        а так же разные доверенности. Если речь идёт о документах компании, то наиболее часто легализуют: устав компании,
        выписку из ЕГРЮЛ, различные решения собрания акционеров, сертификаты и т. д.

        Следует упомянуть, что помимо консульской легализации существует другой вид легализации - проставление апостиля на документе.
        Про этот вид легализации подробно написано <a href="opostil.html">здесь</a></p></div>`
      ]
    },

    {
      title: 'В каком виде осуществляется консульская легализация документов ?',
      content: [
        `<div><p>Консульская легализация документов осуществляется обычно в нотариальных копиях.
        Данным образом осуществляется консульская легализация документов, выданных органами ЗАГС, различных справок,
        образовательных документов, а так же различных документов компаний. Образовательные документы,
        которые были выданы до 1 января 1992 года на территории бывших республик СССР,
        могут быть легализованы на территории Российской Федерации в виде нотариальных копий.</p></div>
      `,

      `<div><p>В оригинальном виде легализуются доверенности, заверенные нотариусом, дипломы иностранных студентов,
        проходивших обучение в Российской Федерации, справки об отсутствии судимости,
        а так же справки о гражданской правоспособности иностранных граждан, выданных в иностранных посольствах в России.

        Примеры оформления легализованных документов можно посмотреть <a href="#">тут</a></p></div>`
      ]
    },

    {
      title: 'Какие сроки и стоимость консульской легализации документов ?',
      content: [
        `<div><p>Бюро переводов «Импрешн» осуществляет полный комплекс работ по консульской легализации документов.
        Мы делаем нотариальные копии легализуемых документов, переводим эти документы на необходимый язык, заверяем их у нотариуса,
        заверяем документы в Министерстве юстиции, Министерстве иностранных дел и в посольстве страны, в которой будут предъявляться эти документы.
        Стандартный срок консульской легализации документов составляет 3 недели.
        Стоимость услуг по консульской легализации складывается из стоимости работ по подготовке и переводу документов,
        стоимости услуги консульской легализации документов во всех инстанциях и размеру консульского сбора.
        Все государственные пошлины и другие платежи, связанные с нотариальными действиями, включены в стоимость наших услуг.
        Подробнее о стоимости отдельных услуг смотрите <a href="price.html">тут</a></p></div>`
      ]
    },

    {
      title: 'Какой срок действия легализованных документов ?',
      content: [
        `<div><p>Легализованные российские документы обычно не имеют ограничений по сроку действия.
        Однако на территории других государств такие ограничения могут быть установлены.
        Так, например, существуют ограничения на срок действия справок об отсутствии судимости.
        Чаще всего срок действия таких справок, выданных и легализованных на территории Российской Федерации,
        в зависимости от страны предъявления составляет 2-4 месяца. Аналогично, справки, выдаваемые иностранными посольствами на территории РФ,
        действительны в России в течение 3-6 месяцев. Поэтому, о сроках действия российских
        легализованных документов лучше узнавать в той организации, в которую эти документы будут предъявляться на территории других стран.</p></div>`
      ]
    },

    {
      title: 'Как осуществляется пересылка документов к нам в офис и обратно заказчику ?',
      content: [
        `<div><p>Мы можем организовать доставку документов по указанному Вами адресу в любую точку мира.
        Наша компания заключила договоры с различными курьерскими службами: DHL, Pony Express, TNT, UPS, EMS.
        Это позволяет подобрать оптимальный вариант доставки документов в любую точку мира. Нам можно прислать на
        легализацию свои документы из любой страны. Мы их оперативно легализуем и вышлем Вам на указанный адрес,
        подобрав подходящую курьерскую службу, исходя из Ваших пожеланий. Мы гарантируем сохранность Ваших документов,
        когда они находятся у нас в работе, а курьерские службы обеспечивают сохранность Ваших документов при их пересылке.</p></div>`
      ]
    },

    {
      title: 'Как легализуются документы коммерческого характера ?',
      content: [
        `<div><p>Многие уставные документы, такие как Устав компании, выписки из ЕГРЮЛ, доверенности, различные решения и приказы,
        и также некоторые виды договоров легализуются стандартным образом через Министерство юстиции, МИД и посольство.</p></div>`,

        `<div><p>Однако существует целый ряд документов, которые не легализуются в Министерстве иностранных дел РФ.
        Так в МИД РФ не легализуют сертификаты, инвойсы, договоры коммерческого характера, бухгалтерскую отчётность и т. д.
        Для коммерческих документов в Российской Федерации предусмотрен иной порядок консульской легализации.</p></div>`
      ]
    },
  ]

section.faq
  .container.faq__container
    .faq__accordeon
      +main-accordeon(accordeonContent)

    a(href="#").faq__examples Примеры наших работ по консульской легализации
