include ../../mixins/main-page-content
include ../../content/legalization-page

section.main-content
  .container
    +main-page-content(
      {
        title: 'Консульская легализация документов',

        content: [
          {
            type: 'search',
            cls: 'search',
            data: {
              placeholder: 'Введите название страны или выберите из списка',
              countries: Countries,
            }
          },

          {
            type: 'ordinal-list',
            cls: 'ordinal-list',
            title: 'Порядок размещения заказа по легализации документа',

            content: `
              <ul>
                <li>
                  <span>1.</span>
                  <p>Выслать нам скан документа на электронную почту <a href="mailto:info@buroimpression.ru">info@buroimpression.ru</a></p>
                </li>
                <li>
                  <span>2.</span>
                  <p>Выбрать срок исполнения заказа и форму оплаты (мы вышлем всю информацию)</p>
                </li>
                <li>
                  <span>3.</span>
                  <p>Передать нам почтой или лично в офисе оригинал документа или его нотариальную копию</p>
                </li>
                <li>
                  <span>4.</span>
                  <p>Внести предоплату в размере 50% от стоимости всех работ</p>
                </li>
                <li>
                  <span>5.</span>
                  <p>После легализации документа доплатить оставшуюся часть стоимости и получить документ</p>
                </li>
              </ul>
            `
          },

          {
            type: 'accordeon-section',
            accordeon: FAQ,
            linkText: 'Примеры наших работ по консульской легализации',
            linkUrl: 'example.html'
          },
        ]
      }
    )

include ../common/more-service-section
