include ../../mixins/main-page-content
include ../../content/legalization-page

section.main-content
  .container
    +main-page-content(
      {
        title: 'Консульская легализация документов',

        content: [
          {
            type: 'search-section',
            cls: 'search-section search-section--countries',
            data: {
              placeholder: 'Введите название страны или выберите из списка',
              countries: Countries,
            }
          },

          {
            type: 'tab-section',
            cls: 'page-main-content-section',
            tabs: Tabs,
            tabsClass: '',
          },

          {
            type: 'accordeon-section',
            cls: 'faq',
            accordeon: FAQ,
            accordeonClass: 'main',
            linkText: 'Примеры наших работ по консульской легализации',
            linkUrl: '#'
          },
        ]
      }
    )
