-
  const Tabs = [
    {
      label: 'Нотариальные документы',
      id: 1,
      isActive: true,
      data: [
        {
          title: 'Внимание! Апостиль на документ за 1-5 дней!',
          content: [
            `<p>Апостиль на документ ставится для того, чтобы этот документ были признан на территории другой страны.
            Документы необходимо либо легализовать в посольстве данной страны, если страна не присоединилась к Гаагской конвенции об апостиле 1965 г.,
            либо нужно поставить апостиль на этот документ в министерстве юстиции, если страна, в которой будет предъявляться документ,
            подписала Гаагскую конвенцию. Наиболее востребованной услугой в настоящее время является <strong>апостиль на нотариальную копию документа</strong>.
            Это объясняется тем, что согласно российскому законодательству не на каждый оригинал документа можно поставить апостиль.</p>`,

            `<p>Уполномоченные органы иностранных государств могут при выезде на учебу, работу или же на постоянное место жительства потребовать
            поставить <strong>апостиль на оригинал</strong> или на <strong>нотариальную копию</strong> следующих докуменов:свидетельство о рождении, свидетельство о браке,
            выписка или копия внутреннего российского паспорта или же загранпаспорта, выписка из домовой книги или справка о прописке,
            справка 2НДФЛ или справка с места работы или учебы, аттестат, диплом  и т.д. По той или иной причине поставить апостиль на оригиналы
            данных документов не всегда предоставляется возможным. И единственным выходом получить апостиль на подобных документах – сделать нотариальную копию.
            Апостиль на копии в данном случае удостоверяет подлинность подписи нотариуса и его печати.</p>`,

            `<p>Так же необходимо проставлять <strong>апостиль на нотариальные копии</strong>
            уставных документов (устав, свидетельство ИНН, свидетельство о постановке на налоговый учет, выписка из ЕГРЮЛ, различные решения)
            при использовании этих документов за границей (для стран-участниц Гаагской конвенции 1961 года).
            Согласно российскому законодательству апостиль на оригиналы подобных документов не ставят.</p>`,

            `<p>Очень часто приходится ставить <strong>апостиль на документы</strong>, выданные нотариусом.
            Наиболее часто заказывают апостиль на согласие на выезд ребенка, апостиль на доверенность, апостиль на заявление,
            апостиль на договор, которые удостоверены нотариусом.</p>`,

            `<p><strong>Апостиль на копию</strong> и другие нотариальные документы проставляется по территориальному принципу,
            т.е. по месту нахождения нотариуса. Апостиль на документы, заверенные нотариусами Москвы – в Москве,
            нотариусами Московской области – в Главном управлении юстиции МО.</p>`,

            `<p>Бюро переводов «Импрешн» оказывает услуги по проставлению апостилей на нотариальные документы,
            выданные нотариусами Москвы, Московской области, а также нотариусами ряда регионов России и Украины.</p>`,

            `<p>Более подробную информацию Вы можете получить по телефонам, указанным в разделе  <a href="contacts.html">Контакты</a>, а также в разделе <a href="price.html">Цены</a>.</p>`,
          ]
        },
      ]
    },

    {
      label: 'ГИАЦ МВД (справки о несудимости)',
      id: 2,
      data: [
        {
          title: 'Апостиль ГИАЦ МВД (справка о несудимости)',
          content: [
            `<p>Если Вы собираетесь выезжать на учебу, работу или постоянное место жительства в иностранное
            государство – страну-участницу Гаагской конвенции 1961 года, то уполномоченные органы данного
            государства могут запросить у Вас поставить <strong>апостиль на справку об отсутствии судимости</strong>.</p>`,

            `<p>Апостиль в таком случае будет подтверждать
            подлинность самой справки, а именно, что подпись должностного лица и печать учреждения, ее выдавшего, — оригинальные.</p>`,

            `<p>Бюро переводов «Импрешн» оказывает услуги по проставлению апостиля на справки о несудимости, полученные как в Москве и Московской области,
            так и по всей России. Срок проставления апостиля на оригинал справки составляет 3-4 рабочих дня.
            Вы можете заказать у нас <strong>апостиль на справку об отсутствии судимости</strong> и нотариально заверенный перевод этой справки на любой язык.
            Наша компания может так же <strong>получить</strong> для Вас <strong>справку об отсутствии судимости</strong> в уполномоченном органе МВД.
            Для этого от Вас потребуется нотариально заверенная доверенность на нашего сотрудника.
            По запросу мы высылаем образец этой доверенности с указанием паспортных данных наших сотрудников.</p>`,

            `<p>Более подробно о сроках и стоимости проставления апостиля на справки о наличии (отсутствии) судимости смотрите здесь или же по телефонам, указанным в разделе <a href="contacts.html">Контакты</a>, а также в разделе <a href="price.html">цены</a>.</p>`,
          ]
        },
      ]
    },

    {
      label: 'Документы ЗАГС',
      id: 3,
      data: [
        {
          title: 'Апостиль на документы ЗАГС',
          content: [
            `<p><strong>Апостиль на свидетельство о рождении</strong> является наиболее востребованной услугой. Апостиль на свидетельство о рождении, свидетельство о заключении брака, свидетельство о расторжении брака, свидетельство о смерти, а так же справки, выданные органами ЗАГС, необходимо проставлять, чтобы придать данному документу законную силу на территории государства, в котором предстоит использовать этот документ. При этом данное государство должно входить в список стран, подписавших Гаагскую конвенцию 1961 г. Проставлением штампа апостиль на документы, выданные органами ЗАГС (свидетельства о рождении, свидетельства о перемене имени, свидетельства о заключении брака, свидетельства о расторжении брака, свидетельства о разводе, смерти, извещения, справки и др.) занимаются архивные отделы ЗАГС. Следует помнить, что апостиль на оригиналы такого типа документов проставляется по территориальному признаку, т.е. в том субъекте РФ или другой страны, где был выдан документ. Если свидетельство выдано на территории Москвы, апостиль можно поставить в архивно-информационном отделе ЗАГС города Москвы, если на территории Московской области – в архивно-информационном отделе ЗАГС МО, если же в другом населённом пункте, тогда в архивном отделе  ЗАГС данного населённого пункта.</p>`,
            `<p>Почему же апостиль на такие документы проставляется по территориальному признаку? Ответ прост. Апостиль на оригиналах документов, выданных органами ЗАГС, удостоверяет печать органа и подпись должностного лица, выдавшего документ. К сожалению теперь нельзя уже прийти в ЗАГС и получить повторный документ, а также поставить на документы, выданные органами ЗАГС апостиль. Сейчас все функции по выдаче повторных свидетельств, а также по проставлению апостиля переданы в МФЦ. Это значительно увеличило сроки проставления апостиля на документы. Если ранее это занимало 4-5 дней, то сейчас срок составляет от 10 до 20 рабочих дней. Есть и хорошие новости. В настоящее время создана единая электронная база, благодаря которой свидетельства о рождении, о браке, о расторжении брака и т. д. можно теперь получить через МФЦ в г. Москве и тогда их тут же можно сразу апостилировать. Для получения повторного свидетельства, владельцу этого документа нужно либо лично явиться в МФЦ, либо оформить нотариально удостоверенную доверенность на своего представителя.</p>`,
            `<p>Более подробную информацию Вы можете получить по телефонам, указанным в разделе Контакты, а также в разделе <a href="price.html">цены</a>.</p>`
          ]
        }
      ]
    },

    {
      label: 'Образовательные документы',
      id: 4,
      data: [
        {
          title: 'Апостиль на диплом',
          content: [
            `<p>Наиболее часто у нас заказывают <strong>апостиль на диплом</strong>. Апостиль проставляется на диплом и приложение к нему,
            которые сшиваются вместе. <strong>Проставление апостиля на диплом</strong>, аттестат и другие образовательные документы
            осуществляется в Департаменте образования.</p>`,

            `<p>С 01 января 2011 года вступил в силу Федеральный Закон от 08 ноября 2010 года № 293-ФЗ
            «О внесении изменений в отдельные законодательные акты Российской Федерации в связи с совершенствованием
            контрольно-надзорных функций и оптимизацией предоставления государственных услуг в сфере образования»,
            согласно которому апостиль на диплом и другие образовательные документы (аттестаты, дипломы, академические справки)
            проставляется по так территориальному признаку. Это означает, что теперь апостиль можно поставить в Управлении или
            Департаменте образования той области или края, где документ, подлежащий апостилированию, был выдан.</p>`,

            `<p>Проставляя <strong>апостиль на диплом</strong>, академическую справку, аттестат Вы тем самым подтверждаете подлинность Вашего документа.
            Так как при апостилировании таких документов проводится экспертиза бланков аттестатов, дипломов, академических справок,
            поверяется оригинальность печати образовательного учреждения, подлинность подписи лица, уполномоченного подписывать
            такого рода документы (директора или ректора) и сам факт выдачи документа лицу, указанному в нем.
            В связи с этим <strong>длительность процедуры апостилирования</strong> составляет ориентировочно <strong>45-50</strong> дней.
            Ставя апостиль на диплом, Вы тем самым подтверждаете подлинность самого диплома.
            <strong>Стоимость апостиля на диплом</strong>, академическую справку, аттестатсоставляет 5500 рублей.
            В стоимость уже входит государственная пошлина 2500 рублей. В некоторых случаях можно сделать
            нотариальную копию диплома и приложения к нему и поставить на них апостиль.
            Это позволяет значительно сократить срок проставления апостиля. В данном случае апостиль ставится в Министерстве юстиции.
            При этом проверяется подлинность подписи и печати нотариуса.
            Процедура проставления <strong>апостиля на копию диплома</strong> занимает всего 5 дней.
            <strong>Стоимость апостиля на копию диплома</strong> составляет <strong>3800</strong> рублей.
            В стоимость уже входит государственная пошлина 2500 рублей. Однако, при этом не подтверждается подлинность самого диплома.
            Поэтому не все организации принимают апостиль на нотариальной копии диплома. О необходимости проставления апостиля на оригинале
            диплома лучше узнавать в том месте, куда Вы планируете подавать свой диплом. Если Вы планируете заказать проставление апостиля на диплом,
            аттестат, академическую справку через нашу компанию, от Вас потребуется получить доверенность, удостоверенную нотариусом.
            Образец доверенности с реквизитами наших сотрудников мы Вам вышлем по запросу. Если Вы находитесь за границей, то доверенность может
            быть оформлена в Консульстве РФ на русском языке или у любого местного нотариуса на иностранном языке.
            Если доверенность оформляется у иностранного нотариуса, то на эту доверенность необходимо поставить апостиль,
            если страна подписала Гаагскую конвенцию от 5 октября 1961 г., если иностранное государство, в котором оформлена нотариальная
            доверенность не подписала Гаагскую конвенцию об апостиле, то данную доверенность необходимо легализовать
            в консульстве РФ на территории этого иностранного государства. Потом в России нотариальную доверенность на иностранном языке
            потребуется перевести на русский язык и заверить перевод у русского нотариуса. Очевидно, что дешевле и проще оформить
            доверенность в Консульстве РФ сразу на русском языке.</p>`,
          ]
        },

        {
          subtitle: 'Бюро переводов «Импрешн» оказывает услуги по проставлению апостиля на следующие документы:',
          content: [
            `<ul>
              <li>апостиль на  аттестат</li>
              <li>апостиль на диплом</li>
              <li>апостиль на академическую справку</li>
              <li>апостиль на свидетельство и удостоверение государственного образца</li>
            </ul>`,

            `<p>Мы помогаем получить <strong>апостиль диплома</strong>, атестата, академической справки, свидетельства и удостоверения государственного образца,
            выданных в Москве и Московской области, а также на территории всей Российской Федерации.</p>`,

            `<p>Более подробную информацию Вы можете получить по телефонам, указанным в разделе <a href="contacts.html">Контакты</a>, а также в разделе <a href="price.html">цены</a>.</p>`,
          ]
        }
      ]
    }
  ]
