-
  const Countries = [
    {url: '#', name: 'Алжир'},
    {url: '#', name: 'Афганистан'},
    {url: '#', name: 'Бразилия'},
    {url: '#', name: 'Вьетнам'},
    {url: '#', name: 'Египет'},
    {url: '#', name: 'Индия'},
    {url: '#', name: 'Индонезия'},
    {url: '#', name: 'Иордания'},
    {url: '#', name: 'Ирак'},
    {url: '#', name: 'Иран'},
    {url: '#', name: 'Камерун'},
    {url: '#', name: 'Канада'},
    {url: '#', name: 'Катар'},
    {url: '#', name: 'КНР'},
    {url: '#', name: 'Колумбия'},
    {url: '#', name: 'Коста-Рика'},
    {url: '#', name: 'Кувейт'},
    {url: '#', name: 'Ливан'},
    {url: '#', name: 'Ливия'},
    {url: '#', name: 'Марокко'},
    {url: '#', name: 'ОАЭ'},
    {url: '#', name: 'Оман'},
    {url: '#', name: 'Пакистан'},
    {url: '#', name: 'Перу'},
    {url: '#', name: 'Саудовская Аравия'},
    {url: '#', name: 'Сирия'},
    {url: '#', name: 'Судан'},
    {url: '#', name: 'Тайвань'},
    {url: '#', name: 'Тайланд'},
    {url: '#', name: 'Уругвай'},
    {url: '#', name: 'Чили'},
    {url: '#', name: 'Эквадор'}
  ]
