-
  const Tabs = [
    {
      label: 'Страны-участницы Гаагской конвенции',
      id: 1,
      isActive: true,
      data: [
        {
          title: 'Перечень стран-участниц Гаагской конвенции',
          content: [
            `<ul>
              <li>Австралия - 11 июля 1994 года (присоединение), 16 марта 1995 года (вступила в силу)</li>
              <li>Австрия - 14 ноября 1967 года (ратификация), 13 января 1968 года (вступила в силу)</li>
              <li>Азербайджан - 13 мая 2004 года (присоединение), 2 марта 2005 года (вступила в силу)</li>
              <li>Албания - 3 сентября 2003 года (присоединение), 9 мая 2004 года (вступила в силу)</li>
            </ul>`,
          ]
        }
      ]
    },

    {
      label: 'Двусторонние договоры РФ',
      id: 2,
      data: [
        {
          title: 'Перечень стран, с которыми Российская Федерация заключила двусторонние договоры',
          content: [
            `<ul>
              <li>Арабская Республика Египет (Москва, 23 сентября 1997 года)</li>
              <li>Индия (Нью-Дели, 3 октября 2000 год)</li>
              <li>Аргентинская Республика (Москва, 20 ноября 2000 год)</li>
              <li>Республика Польша (Варшава, 16 сентября 1996 года)</li>
              <li>Исламская Республика Иран (Тегеран, 5 марта 1996 года)</li>
              <li>Республика Молдова (Москва, 25 февраля 1993 года)</li>
              <li>Латвийская Республика (Рига, 3 февраля 1993 года)</li>
              <li>Эстонская Республика (Москва, 26 января 1993 года)</li>
              <li>Азербайджанская Республика (Москва, 22 декабря 1992 года)</li>
              <li>Республика Кыргызстан (Бишкек, 14 сентября 1992 года)</li>
              <li>Литовская Республика (Вильнюс, 21 июля 1992 года)</li>
              <li>Китайская Народная Республика (Пекин, 19 июня 1992 года)</li>
              <li>Королевство Испания (Мадрид, 26 октября 1990 года)</li>
              <li>Монгольская Народная Республика (Улан-Батор, 23 сентября 1988 года) – договор утратит силу со дня вступления в силу Договора между РФ и Монголией от 20.04.1999 года</li>
              <li>Народная Демократическая Республика Йемен (Москва, 6 декабря 1985 года)</li>
              <li>Республика Куба (Гавана, 28 ноября 1984 года) – договор прекратит свое действие со дня вступления в силу Договора от 14.12.2000 г.</li>
              <li>Республика Кипр (Москва, 19 января 1984 года)</li>
              <li>Чехия (Москва, 12 августа 1982 года) – с 1.01.1993 г. Договор первоначально заключался с Чехословацкой Социалистической Республикой</li>
              <li>Словакия (Москва, 12 августа 1982 года) – с 1.01.1993 г. Договор первоначально заключался с Чехословацкой Социалистической Республикой</li>
              <li>Алжирская Народная Демократическая Республика (Алжир, 23 февраля 1982 года)</li>
              <li>Социалистическая Республика Вьетнам (Москва, 10 декабря 1981 года)</li>
              <li>Греческая Республика (Афины, 21 мая 1981 года)</li>
              <li>Народная Республика Болгария (Москва, 19 февраля 1975 года)</li>
              <li>Иракская Республика (Москва, 22 июня 1973 года)</li>
              <li>Словения (Москва, 24 февраля 1962 года) – Договор первоначально заключался с Федеративной Народной Республикой Югославия</li>
              <li>Македония (Москва, 24 февраля 1962 года) – Договор первоначально заключался с Федеративной Народной Республикой Югославия</li>
              <li>Венгерская Народная Республика (Москва, 15 июля 1958 года)</li>
              <li>Народная Республика Албания (Москва, 30 июня 1958 года)</li>
              <li>Румынская Народная Республика (Москва, 3 апреля 1958 года)</li>
              <li>Корейская Народно-Демократическая Республика (Пхеньян, 16 декабря 1957 года). Кроме двусторонних договоров об оказании правовой помощи по гражданским делам, в которых отменена процедура легализации, имеется двусторонняя Конвенция, заключённая с Итальянской Республикой (Рим, 25 января 1979 года)</li>
            </ul>`,
          ]
        }
      ]
    }
  ]
