-
  const Countries = [
    {url: '#', name: 'Алжир'},
    {url: '#', name: 'Афганистан'},
    {url: '#', name: 'Бразилия'},
    {url: '#', name: 'Вьетнам'},
    {url: '#', name: 'Египет'},
    {url: '#', name: 'Индия'},
    {url: '#', name: 'Индонезия'},
    {url: '#', name: 'Иордания'},
    {url: '#', name: 'Ирак'},
    {url: '#', name: 'Иран'},
    {url: '#', name: 'Камерун'},
    {url: '#', name: 'Канада'},
    {url: '#', name: 'Катар'},
    {url: '#', name: 'КНР'},
    {url: '#', name: 'Колумбия'},
    {url: '#', name: 'Коста-Рика'},
    {url: '#', name: 'Кувейт'},
    {url: '#', name: 'Ливан'},
    {url: '#', name: 'Ливия'},
    {url: '#', name: 'Марокко'},
    {url: '#', name: 'ОАЭ'},
    {url: '#', name: 'Оман'},
    {url: '#', name: 'Пакистан'},
    {url: '#', name: 'Перу'},
    {url: '#', name: 'Саудовская Аравия'},
    {url: '#', name: 'Сирия'},
    {url: '#', name: 'Судан'},
    {url: '#', name: 'Тайвань'},
    {url: '#', name: 'Тайланд'},
    {url: '#', name: 'Уругвай'},
    {url: '#', name: 'Чили'},
    {url: '#', name: 'Эквадор'}
  ]

-
  const FAQ = [
    {
      title: 'Зачем нужна консульская легализация документов&nbsp;?',

      content: [`
          <div><p>К нам часто обращаются с вопросом «что такое консульская легализация документов&nbsp;?»
          Говоря простым языком, консульская легализация документов представляет собой процедуру
          оформления документа должным образом и удостоверения его в соответствующих государственных
          органах. В результате данной процедуры документы приобретают законную силу на территории
          другого государства. Чтобы ваши документы были приняты к рассмотрению на территории другого
          государства, они должны пройти процедуру консульской легализации. В процессе консульской
          легализации документа нотариусом подтверждается верность копии этого документа,
          Министерством юстиции удостоверяется подлинность подписи и печати нотариуса,
          Министерством иностранных дел удостоверяется подлинность подписи сотрудника
          и печати Министерства юстиции, а в Консульстве соответствующей страны уже удостоверяется
          подлинность подписи сотрудника и печати Министерства иностранных дел.
          В результате на копии легализованного документа должны стоять печати нотариуса,
          Министерства юстиции, Министерства иностранных дел и Консульства иностранного государства.
          Чтобы успешно пройти процедуру легализации, документ должен быть правильно оформлен
          и переведён на язык, который устанавливается Консульством данной страны.
          Процедура легализации документов проходит поэтапно и занимает примерно 3 недели.
          Чтобы в конце данного процесса не получить отказ в Консульстве данной страны
          или даже на более ранних этапах его выполнения, мы рекомендуем обращаться к профессионалам,
          имеющим большой опыт в данной сфере услуг. Компания «Импрешн» занимается консульской
          легализацией около 10 лет. Мы досконально знаем все требования по данной процедуре на каждом
          её этапе исполнения. Кроме того, нашу компанию хорошо знают в различных
          госудаственных органах и Консульствах разных стран. Нередко к нам приходят заказчики
          и говорят, что компанию «Импрешн» рекомендовали в Консульстве той или иной страны.</p></div>
        `,
        `<div><a href="#">Примеры наших работ по консульской легализации документов.</a></div>`
      ]
    },

    {
      title: 'Какие документы требуют консульской легализации&nbsp;?',
      content: [
        `<div><p>На этот вопрос нельзя ответить однозначно. Всё зависит от конкретной ситуации.
        Поэтому список документов, которые требуется легализовать в Консульстве, необходимо уточнять в том месте,
        куда эти документы будут подаваться. Наиболее часто требуют консульской легализации следующие документы:
        диплом о высшем образовании, аттестат о среднем образовании, свидетельство о рождении, свидетельство о браке,
        а так же разные доверенности. Если речь идёт о документах компании, то наиболее часто легализуют: устав компании,
        выписку из ЕГРЮЛ, различные решения собрания акционеров, сертификаты и т. д.

        Следует упомянуть, что помимо консульской легализации существует другой вид легализации - проставление апостиля на документе.
        Про этот вид легализации подробно написано <a href="opostil.html">здесь</a></p></div>`
      ]
    },

    {
      title: 'В каком виде осуществляется консульская легализация документов&nbsp;?',
      content: [
        `<div><p>Консульская легализация документов осуществляется обычно в нотариальных копиях.
        Данным образом осуществляется консульская легализация документов, выданных органами ЗАГС, различных справок,
        образовательных документов, а так же различных документов компаний. Образовательные документы,
        которые были выданы до 1 января 1992 года на территории бывших республик СССР,
        могут быть легализованы на территории Российской Федерации в виде нотариальных копий.</p></div>
      `,

      `<div><p>В оригинальном виде легализуются доверенности, заверенные нотариусом, дипломы иностранных студентов,
        проходивших обучение в Российской Федерации, справки об отсутствии судимости,
        а так же справки о гражданской правоспособности иностранных граждан, выданных в иностранных посольствах в России.

        Примеры оформления легализованных документов можно посмотреть <a href="#">тут</a></p></div>`
      ]
    },

    {
      title: 'Какие сроки и стоимость консульской легализации документов&nbsp;?',
      content: [
        `<div><p>Бюро переводов «Импрешн» осуществляет полный комплекс работ по консульской легализации документов.
        Мы делаем нотариальные копии легализуемых документов, переводим эти документы на необходимый язык, заверяем их у нотариуса,
        заверяем документы в Министерстве юстиции, Министерстве иностранных дел и в посольстве страны, в которой будут предъявляться эти документы.
        Стандартный срок консульской легализации документов составляет 3 недели.
        Стоимость услуг по консульской легализации складывается из стоимости работ по подготовке и переводу документов,
        стоимости услуги консульской легализации документов во всех инстанциях и размеру консульского сбора.
        Все государственные пошлины и другие платежи, связанные с нотариальными действиями, включены в стоимость наших услуг.
        Подробнее о стоимости отдельных услуг смотрите <a href="price.html">тут</a></p></div>`
      ]
    },

    {
      title: 'Какой срок действия легализованных документов&nbsp;?',
      content: [
        `<div><p>Легализованные российские документы обычно не имеют ограничений по сроку действия.
        Однако на территории других государств такие ограничения могут быть установлены.
        Так, например, существуют ограничения на срок действия справок об отсутствии судимости.
        Чаще всего срок действия таких справок, выданных и легализованных на территории Российской Федерации,
        в зависимости от страны предъявления составляет 2-4 месяца. Аналогично, справки, выдаваемые иностранными посольствами на территории РФ,
        действительны в России в течение 3-6 месяцев. Поэтому, о сроках действия российских
        легализованных документов лучше узнавать в той организации, в которую эти документы будут предъявляться на территории других стран.</p></div>`
      ]
    },

    {
      title: 'Как осуществляется пересылка документов к нам в офис и обратно заказчику&nbsp;?',
      content: [
        `<div><p>Мы можем организовать доставку документов по указанному Вами адресу в любую точку мира.
        Наша компания заключила договоры с различными курьерскими службами: DHL, Pony Express, TNT, UPS, EMS.
        Это позволяет подобрать оптимальный вариант доставки документов в любую точку мира. Нам можно прислать на
        легализацию свои документы из любой страны. Мы их оперативно легализуем и вышлем Вам на указанный адрес,
        подобрав подходящую курьерскую службу, исходя из Ваших пожеланий. Мы гарантируем сохранность Ваших документов,
        когда они находятся у нас в работе, а курьерские службы обеспечивают сохранность Ваших документов при их пересылке.</p></div>`
      ]
    },

    {
      title: 'Как легализуются документы коммерческого характера&nbsp;?',
      content: [
        `<div><p>Многие уставные документы, такие как Устав компании, выписки из ЕГРЮЛ, доверенности, различные решения и приказы,
        и также некоторые виды договоров легализуются стандартным образом через Министерство юстиции, МИД и посольство.</p></div>`,

        `<div><p>Однако существует целый ряд документов, которые не легализуются в Министерстве иностранных дел РФ.
        Так в МИД РФ не легализуют сертификаты, инвойсы, договоры коммерческого характера, бухгалтерскую отчётность и т. д.
        Для коммерческих документов в Российской Федерации предусмотрен иной порядок консульской легализации.</p></div>`
      ]
    },
  ]

-
  const Tabs = [
    {
      label: 'Диплом',
      id: 1,
      isActive: true,
      data: [
        {
          title: 'Как сделать консульскую легализацию диплома&nbsp;?',
          content: [
            `<p>Косульская легализация диплома – это процедура, которая придаёт официальный статус диплому на территории другой страны.
            Без данной процедуры многие страны откажутся принимать диплом к рассмотрению. Обычно консульская легализация диплома требуется для получения
            рабочей визы и последующего трудоустройства в другой стране.
            В отличие от легализации других документов, для легализации диплома частот необходимо представить архивную справку из учебного заведения о том,
            что владелец диплома проходил в нём обучение и успешно окончил его. В тех случаях, когда на дипломе стоит апостиль, архивную справку предоставлять,
            как правило, не требуется. Пример апостиля представлен на <a href="apostil">странице</a>.</p>`,

            `<p>Однако есть исключение и из этого правила. Например, Консульство Катара требует представить архивную справку,
            даже если на дипломе стоит апостиль. При этом данную справку Консульство Катара тоже легализуют и оставляют у себя.
            Некоторые посольства требуют предоставить трудовой договор с иностранным работодателем или официальный запрос от него.
            Таким образом, несмотра на внешнее единообразие процедуры легализации документов, существуют особенности легализации документов в некоторых Консульствах,
            которые существенно затрудняют процедуру консульской легализации.</p>`,

            `<p>Поэтому, мы настоятельно рекомендуем не заниматься самодеятельностью, если не хотите потратить драгоценное время, силы и денежные средства.
            Компания «Импрешн» занимается консульской легализацией документов около 10 лет.
            Мы сотрудничаем с опытными переводччиками - носителями различных языков, для которых язык перевода является родным.
            Переводы наших переводчиков точны и качественны, они уже многократно проверялись сотрудниками Консульств разных стран.
            При легализации документов переводы выполняют только проверенные, хорошо зарекомендовавшие себя переводчики.
            Благодаря качественным переводам и правильному оформлению документов, компанию «Импрешн» рекомендуют различные Консульства.

            Примеры наших работ представлены на <a href="#">странице</a>.</p>`,
          ]
        },

        {
          title: 'В каком виде легализуется диплом&nbsp;?',
          content: [
            `<p>Обычно дипломы легализуются в нотариальных копиях. Однако в определённых случаях дипломы могут быть легализованы в оригинальном виде.
            В частности, дипломы иностранных студентов, прошедших обучение в России, могут быть легализованы в оригинальном виде для страны,
            в которой они проживают. Это требование Консульского отдела МИД. При этом ВУЗ должен написать письмо в МИД и приложить список иностранных студентов,
            дипломы которых необходимо легализовать. Для легализации оригинала диплома перевод делать не нужно.
            Диплом напрямую легализуется в МИД, минуя этап удостоверения документов в Министерстве юстиции, а затем на дипломе ставится отметка соответствующего
            Консульства. Если на оригинале диплома стоит отметка МИДа, то, в прирнципе, на нём можно поставить отметки Консульств разных стран.
            В нашей практике был случай, когда мы легализовали один оригинал диплома, на котором уже так же стоял апостиль для следующих посольств:
            Саудовская Аравия, Объединённые Арабские Эмираты, Катар, Оман и Кувейт.</p>`
          ]
        }
      ]
    },

    {
      label: 'Документы компании',
      id: 2,
      data: [
        {
          title: 'Зачем нужна консульская легализация документов компании&nbsp;?',
          content: [
            `<p>Консульская легализация учредительных документов всегда пользовалась большим спросом.
            Чтобы открыть своё представительство или заключить выгодный контракт с иностранной компанией для ведения бизнеса на её территории,
            как правило, необходимо легализовать учредительные документы для этой страны.</p>`,

            `<p>Консульская легализация учредительных документов компании необходима для придания им юридической силы
            на территории иностранного государства.</p>`,

            `<p>Апостиль не подходит для тех стран, которые до сих пор не подписали Гаагскую конвенцию от 1961 года,
            посвящённую упрощённой форме легализации документов (апостилю).
            <br/>
            Подробнее об апостиле написано <a href="#">здесь</a>.</p>`,
          ]
        },

        {
          title: 'Как легализовать учредительные документы компании&nbsp;?',
          content: [
            `<p>Документы компании, такие как устав, выписка из ЕГРЮЛ, свидетельство ОГРН, свидетельство ИНН, протоколы собраний,
            приказы, решения, доверенности т. д. легализуются обычным путем - через Министерство юстиции, МИД и посольство иностранного
            государства. Срок консульской легализации при этом составляет 2-3 недели.</p>`,

            `<p>Однако существует целый ряд документов, которые не могут быть заверены в МИДе РФ. В частности, МИД не заверяет документы
            коммерческого характера. К таким документам относятся бухгалтерские балансы, счета, инвойсы, коммерческие предложения, договора поставки,
            списки выполненных работ, различные сертификаты и многие другие. Согласно российскому законодательству такие документы
            удостоверяются в Торгово-промышленной палате РФ (ТПП РФ).
            После удостоверения в ТПП РФ, документы компании могут быть легализованы в посольстве иностранного государства.
            Срок консульской легализации при этом составляет 4-5 дней.</p>`,

            `<p>Для того чтобы документы были легализованы в посольстве иностранного государства, они должны быть переведены на
            соответствующий язык и на них должны обязательно стоять отметки либо МИДа РФ, либо ТПП РФ.</p>`,

            `<p>Учредительные документы компании, как правило, легализуются в нотариальных копиях, за исключением тех документов,
            которые были изначально выданы нотариусом (доверенности, договоры, решения и т. д.,
            на которых подписи уполномоченных лиц удостоверенны нотариусом).</p>`
          ]
        },

        {
          title: 'Почему выбирают нашу компанию&nbsp;?',
          content: [
            `<p>Консульская легализация учредительных документов компании очень ответственный процесс,
            требующий наличие соответствующих знаний и опыта. Компания «Импрешн» уже около 10 лет занимается легализацией документов компаний.
            Наши переводы на иностранный язык делают профессиональные переводчики - носители этого языка,
            имеющие большой опыт в переводах юридических и коммерческих документов.
            Мы сотрудничаем с несколькими нотариусами на постоянной основе, что позволяет оперативно выполнять все необходимые
            нотариальные удостоверения документов. Нашу компанию хорошо знают в Министерстве юстиции, МИДе и посольствах разных стран.
            Это помогает в решении различных вопросов, связанных с легализацией документов.
            Таким образом, мы можем помочь Вам оперативно легализовать учредительные и коммерческие документы компании.
            При всех наших достоинствах мы придерживаемся политики умеренных цен.
            <br/>
            Стоимость услуг можно посмотреть <a href="price.html">здесь</a>.</p>`,

            `<p>Предусмотрены дополнительные скидки за объём и постоянное сотрудничество. Обращайтесь! Будем рады Вам помочь!.</p>`
          ]
        }
      ]
    },

    {
      label: 'Паспорт',
      id: 3,
      data: [
        {
          title: 'Консульская легализация паспорта',
          content: [
            `<p>К нам иногда обращаются клиенты, которым необходима консульская легализация паспорта.
            В основном такое требования появляется при легализации документов для Китая. С недавнего времени МИД РФ легализует
            нотариальные копии гражданского паспорта РФ, а также заграничного паспорта гражданина РФ.
            Это значительно упростило жизнь многим нашим клиентам, так как ранее приходилось вместо легализации паспортов
            получать справки об их наличии в паспортном столе и уже их легализовать. При этом, как правило, начальник паспортного
            стола требовал личного присутствия гражданина и не принимал его представителей с нотариально удостоверенной доверенностью.
            Для клиента, находящегося за пределами РФ, это вызывало целый ряд трудностей.</p>`,

            `<p>Следует отметить, что для стран, которые подписали Гаагскую конвенцию, всё намного проще.
            Можно сделать нотариальную копию или выписку из паспорта и поставить на этот документ апостиль в Министерстве юстиции.

            Подробнее о стоимости услуг консульской легализации документов смотрите <a href="price.html">здесь</a>.</p>`

          ]
        }
      ]
    },

    {
      label: 'Справка о судимости',
      id: 4,
      data: [
        {
          title: 'Как получить и легализовать в посольстве справку об отсутствии судимости ?',
          content: [
            `<p>Довольно часто требуется легализовать справку об отсутствии судимости для некоторых стран.
            Наиболее часто с такими запросами обращаются люди, уезжающие в Китай, Бразилию и некоторые страны Южной Америки.
            С 4 февраля 2018 года необходимо получать и легализовать в посольстве ОАЭ справку об отсутствии судимости людям,
            уезжающим в Объединённые Арабские Эмираты (ОАЭ). Если для Бразилии и большинства стран Южной Америки необходимо поставить
            апостиль (упрощённая форма консульской легализации).То для Китая и ОАЭ потребуется полная консульская легализация справки об отсутствии судимости.</p>`,

            `<p>Справку об отсутствии судимости можно получить в ГИАЦ МВД России в Москве, как для жителей Москвы,
            так и для жителей других городов России. Причём справку об отсутствии судимости можно получить
            так же для иностранных граждан, которые проживали на территории России. Официальный срок получения такой справки 30 дней.</p>`,

            `<p>Наше бюро оказывает услуги по получению справок об отсутствии судимости уже около 10 лет. Мы поможем Вам оперативно получить данную справку в ГИАЦ МВД России, перевести её на иностранный язык и легализовать её в Министерстве юстиции, МИДе и посольстве страны, для которой данная справка будет нужна. Подробнее о получении справок об отсутствии судимости можно почитать на нашем сайте <a href="#">здесь</a>.</p>`,

            `<p>Для легализации справки необходимо сделать её нотариальную копию, перевести на язык, требуемый в посольстве страны,
            для которой легализуется справка, и поставить на переведённой справке отметки Министерства юстиции РФ,
            Министерства иностранных дел РФ и посольства той страны, в которой эта справка будет предъявляться.
            Бюро «Импрешн» выполняет полный комплекс услуг по получению и консульской легализации справок об отсутствии судимости.
            О стоимости наших услуг можно узнать <a href="price">здесь</a>.</p>`
          ]
        },

        {
          title: 'Консульская легализация электронной справки об отсутствии судимости',

          content: [
            `В последнее время получение справки об отсутствии судимости через портал Госуслуги или МФЦ стало очень популярным из-за удобства
            этих сервисов. Такая справка не имеет синей печати и подписи уполномоченного сотрудника, но она снабжена электронно-цифровой подписью.
            Для того, чтобы такая справка была признана на территории другой страны, она должна пройти процедуру полной консульской легализации.`,

            `Особенностью консульской легализации такой справки об отсутствии судимости является проверка подлинности нотариусом
            электронно-цифровой подписи (ЭЦП), которая прилагается к бумажной справке в виде файла в формате zip.`,

            `При получении справки в бумажном виде и ЭЦП нотариус через специальную программу проверяет подлинность этой
            электронно-цифровой подписи и удостоверяет её подлинность, внося соответствующую надпись на документе.`,

            `Далее справка об отсутствии судимости переводится на китайский язык с нотариальным удостоверением подписи
            дипломированного переводчика, а затем она проходит процедуру легализации через Министерство юстиции РФ, МИД РФ и Посольство страны,
            для которой делается легализация этой справки.`,

            `Таким образом, отличие консульской легализации электронной справки об отсутствии судимости от обычной справки,
            полученной в ГИАЦ МВД, заключается в удостоверении электронной подписи уполномоченного лица.
            В остальном процедуры легализации таких справок одинаковы.`,
          ]
        }
      ]
    },

    {
      label: 'Документы из ЗАГСа',
      id: 5,
      data: [
        {
          title: 'Консульская легализация документов из загса:',
          content: [
            `<ul>
              <li>
                <p>консульская легализация свидетельства о рождении</p>
              </li>
              <li>
                <p>консульская легализация свидетельства о браке</p>
              </li>
              <li>
                <p>консульская легализация свидетельства о смерти</p>
              </li>
              <li>
                <p>консульская легализация свидетельства о расторжении брака (разводе)</p>
              </li>
              <li>
                <p>консульская легализация справки о гражданском состоянии или др.</p>
              </li>
            </ul>
            `,
          ]
        },
        {
          title: 'Порядок консульской легализации документов, выданных органами ЗАГС, следующий:',

          content: [
            `<ul>
              <li>
                <p>делается нотариально заверенная копия документа</p>
              </li>
              <li>
                <p>копия документа переводится на язык, установленный посольством той страны, для которой делается консульская легализация документа</p>
              </li>
              <li>
                <p>подпись переводчика, выполнившего перевод, удостоверяется нотариусом</p>
              </li>
              <li>
                <p>легализуемый документ с прикреплённым к нему переводом подаётся в Министерство юстиции РФ,
                где удостоверяется подлинность подписи и печати нотариуса на копии и переводе документа</p>
              </li>
              <li>
                <p>после прохождения экспертизы в Министерстве юстиции РФ документ подаётся в Министерство иностранных дел РФ,
                где удостоверяется подлинность подписи и печати сотрудника Министерства юстиции РФ, заверившего данный документ</p>
              </li>
              <li>
                <p>после прохождения экспертизы в МИДе РФ документ подаётся в Консульский отдел посольства страны назначения,
                где удостоверяется подлинность подписи и печати сотрудника Министерства иностранных дел РФ, заверившего данный документ</p>
              </li>
            </ul>`,

            `<p>В результате прохождения консульской легализации на документе должны появиться отметки посольства.
            См. примеры отметок посольств в разделе <a href="#">Примеры консульской легализации документов</a>.</p>`,
          ]
        },
        {
          title: 'Требования к документам, подаваемым на легализацию',
          content: [
            `<ul>
              <li>
                <p>документы должны быть в хорошем состоянии без повреждений (в документе должны быть чётко видны подписи и печати,
                не должно быть исправлений, затёртостей, надрывов, и др.); в противном случае с такого документа нельзя
                сделать нотариально заверенную копию и потребуется получать повторный документ
                в ЗАГСе (подробнее о данной процедуре читайте в разделе <a href="reclamation">Истребование документов</a></p>
              </li>
              <li>
                <p>если предоставляется на консульскую легализацию не сам документ, а его нотариальная копия, то необходимо,
                чтобы эту копию заверил нотариус, который высылал образцы своей подписи и печати в Министерство юстиции,
                так как в противном случае эти образцы Министерство юстиции будет запрашивать у нотариуса и срок легализации
                документа может продлиться (до 30 дней отводится на такой запрос)</p>
              </li>
              <li>
                <p>при переводе документов необходимо особое внимание уделять правильности написания имени и фамилии,
                их написание должно соответствовать написанию в заграничном паспорте; в переводах на арабский, китайский,
                корейский и другие языки, в которых используются не латинские буквы, мы дублируем написание имени и фамилии
                на английском языке согласно заграничному паспорту.</p>
              </li>
            </ul>`,

            `<p>Стоимость консульской легализации документов можно смотрите в разделе <a href="price">Цены</a>.</p>`
          ]
        }
      ]
    },
  ]


