-
  const Tabs = [
    {
      label: 'Нострификация образовательных документов',
      id: 1,
      isActive: true,
      data: [
        {
          content: [
            `<p><strong>Нострификация</strong> — процедура признания документов о высшем и послевузовском образовании,
            полученном на территории иностранных государств. Нострификация позволяет установить уровень эквивалентности
            документов об образовании соответствующему уровню образования в Российской Федерации.
            Признание и установление эквивалентности подтверждается особым свидетельством, выдача которого
            осуществляется ФГНУ «Главэкспертцентр» (Федеральная служба по надзору в сфере образования и науки учреждением).
            Нострафикация включает в себя проведение экспертизы, приятие решения и выдачу свидетельства.</p>
            `,

            `<p><strong>Нострификация аттестата с приложением</strong>, полуенными в другом государстве, необходима для того, чтобы поступить в высшее учебное заведение на территории Российской Федерации.</p>`,
            `<p><strong>Нострификация диплома с приложением</strong>, полученными в другом государстве, необходима для того, чтобы устроиться на работу или поступить в высшее учебное заведение для получения второго высшего образования на территории Российской Федерации.</p>`,
            `<p><strong>Ностарификация образовательных документов</strong> потребуется не только иностранным гражданам, приехавшим в Россию, но и гражданам Российской Федерации, получивших образование за границей.</p>`,
            `<p><strong>Признание</strong> и <strong>установление эквивалентности</strong> документов об образовании осуществляется по заявлению обладателя документа или заинтересованной организации.</p>`,

            `<p><strong>К заявлению об установлении эквивалентности прилагаются следующие документы:</strong></p>`,
            `<ul>
              <li>
                <p>легализованный в установленном порядке документ об образовании(оригинал)</p>
              </li>
              <li>
                <p>легализованное в установленном порядке приложение к документу об образовании(оригинал) с указанием пройденных учебных курсов и их объёма, полученных итоговых оценок, перечня практик, курсовых и выпускных квалификационных работ</p>
              </li>
              <li>
                <p>нотариально заверенный перевод документа об образовании или ученой степени и приложения к нему</p>
              </li>
              <li>
                <p>нотариально заверенный перевод документа, удостоверяющего личность заявителя(паспорт)</p>
              </li>
            </ul>`,

            `<p>При необходимости у заявителя могут запросить дополнительные документы (детализация описания пройденных курсов, сведения о предыдущем образовании и т. д.).</p>`,

            `<p><strong>Решение о выдаче свидетельства об эквивалентности принимается на основании:</strong></p>`,

            `<ul>
              <li><p>положительного заключения о признании документа об образовании</p></li>
              <li><p>положительного экспертного заключения о соответствии содержания образования</p></li>
              <li><p>соответствия общих требований к структуре образования в России и в стране выдачи документа об образовании</p></li>
              <li><p>международных соглашений об эквивалентности и обязательств, подписанных и принятых Российской Федерации</p></li>
            </ul>`,

            `<p>Нострификация занимает примерно 2 месяца.</p>`,

            `<p>Если у Вас возникла необходимость <strong>нострифицировать</strong> Ваши образовательные документы для использования на территории Российской Федерации, приглашаем Вас к нам в бюро переводов «Импрешн»!</p>`,
            `<p><strong>Бюро переводов «Импрешн»</strong> оказывает профессиональное содействие в процедуре нострификации образовательных документов, а наши опытные специалисты с радостью ответят на интересующие Вас вопросы!</p>`,
            `<p>Подробнее о сроках и стоимости вы можете узнать <a href="price.html">здесь</a></p>`,
          ]
        }
      ]
    },

    {
      label: 'ИТАЛИЯ. Dichiarazione di valore in loco',
      id: 2,
      data: [
        {
          title: ' Как осуществляется легализация образовательных документов (диплома) для Италии?',
          content: [
            `<picture class="float-picture">
              <source srcset="./assets/img/legal_afgan@1x.webp 1x, ./assets/img/legal_afgan@2x.webp 2x" type="image/webp"></source>
              <img class="zoomable" src="./assets/img/legal_afgan@1x.jpg" srcset="./assets/img/legal_afgan.jpg 2x" alt="Пример" width="600" height="850"></img></picture>`,
            `<p>Учеба или работа в Италии по специальности, приобретённой в России, возможна после получения <strong>Dichiarazione di valore in loco</strong>.Выбор учебных заведений невероятно богат, а поступив в один из ВУЗов Италии, Вы получаете возможность окунуться в культуру и традиции страны, выучить язык, познакомиться с людьми со всего света, насладиться старинной архитектурой и мягким климатом.</p>`,
          ]
        },

        {
          title: 'Зачем необходимо получать Dichiarazione di valore in loco&nbsp;?',
          content: [
            `<p>Хотя в конце 2015 года между Россией и Италией было подписано соглашение, отменяющее обязательную легализацию образовательных документов, пока что оно не вступило в силу. Поэтому, для того чтобы получить возможность обучаться в ВУЗах Италии, либо работать по полученной специальности на территории Италии Вам необходимо пройти процедуру подтверждения образовательных документов - Dichiarazione di valore in loco.</p>`,
            `<p><strong>Dichiarazione di valore in loco</strong> - это документ, выданный в установленном порядке посольством Италии в России. Он даёт возможность получать образование в учебных заведениях Италии или работать в Италии по своей специальности. Данный документ скрепляется с копией российского образовательного документа и его переводом на итальянский язык в консульстве Италии. В документе Dichiarazione di valore in loco указывается соответствие российского образования итальянскому образованию, в которых количество лет обучения не совпадают.</p>`,
            `<p>Под процедурой получения <strong>Dichiarazione di valore in loco</strong> подразумевается следующее:</p>`,
            `<ul>
              <li>
                <p>обязательное апостилирование оригинала Вашего аттестата и диплома, если имеется</p>
              </li>
              <li>
                <p>перевод на итальянский язык и удостоверение верности перевода в Консульстве Италии</p>
              </li>
              <li>
                <p>получение собственно Подтверждения соответствия образования (Dichiarazione di valore in loco)</p>
              </li>
            </ul>`,
            `<p><strong>С апреля 2016 года Консульство Италии принимает переводы на итальянский язык только заверенные аккредитованным переводчиком.<br/>
            Обращаясь к нам, Вы получите полный комплекс услуг по процедуре получения Dichiarazione di valore in loco, включая перевод на итальянский язык, заверенный аккредитованным переводчиком.
            </strong></p>`,
            `<p>Важно знать, что мероприятие это небыстрое, одно только проставление апостиля Министерством образования РФ занимает порядка 50 дней, а летом, ввиду большого числа заявок, заверение документов в Консульстве может занять до 4 недель. Но если Вы своевременно приняли решение учиться или продолжать обучение в Италии и доверили хлопоты по апостилированию, переводу и оформлению документов опытным специалистам, то можете спокойно выдохнуть и начать не спеша готовиться к новому этапу в Вашей жизни, а всю рутину мы возьмем на себя.</p>`,
            `<p>Наши специалисты с радостью проконсультируют по всем вопросам, связанным с процедурой <strong>Dichiarazione di valore!</strong></p>`,
            `<p>Подробнее о стоимости услуг проставления апостиля на оригиналы образовательных документов смотрите <a href="price.html">здесь</a>.</p>`,
          ]
        },
      ]
    },


    {
      label: 'ИСПАНИЯ. Homologacion de titulo',
      id: 3,
      data: [
        {
          title: 'Подтверждение образовательных документов для Испании',
          content: [
            `<picture class="float-picture">
              <source srcset="./assets/img/legal_afgan@1x.webp 1x, ./assets/img/legal_afgan@2x.webp 2x" type="image/webp"></source>
              <img class="zoomable" src="./assets/img/legal_afgan@1x.jpg" srcset="./assets/img/legal_afgan.jpg 2x" alt="Пример" width="600" height="850"></img></picture>`,
            `<p><small>В том числе: аттестата о полном общем среднем образовании, академической справки, диплома о среднем образовании с приложением, диплома о высшем образовании с приложением или же диплома кандидата наук.</small></p>`,
            `<p>B Испании этим занимается <strong>Министерство Науки и Инновации Испании(Ministerio de Ciencia e Innovacion)</strong>.
            Процесс подтверждения может длиться от 6 месяцев до 2 лет.</p>`,
            `<p><strong>МНИИ</strong> подтверждает не сам диплом, как  документ, а квалификацию в нем, соответствует ли она университетскому титулу в Испании.
            Такая процедура называется <strong>Homologacion de Titulo</strong>.</p>`,

            `<p>Квалификация подтверждается только в том случае,  если учебные курсы, пройденные в российском вузе полностью соответствуют
            учебным курсам вузов Испании. Данная процедура приравнивания учебных курсов называется <strong>Convalidacion de Estudios</strong>.
            После прохождения процедуры признания соответствия учебных предметов, данные предметы могут быть полностью признаны в Испании,
            либо признаны частично и Вам необходимо прослушать определенное количество часов, или же вовсе не быть признаны и в таком случае Вам
            необходимо прослушать полный курс.</p>`,

            `<p>Но до подачи  документов в Министерство Науки и Инновации Испании документы необходимо подготовить,
            легализовать(<strong>legalizacion de diploma</strong>).  В первую очередь <strong>необходимо проставить апостиль</strong> на
            оригиналы образовательных документов. Если документы выданы в РФ, апостиль можно проставить только на территории
            Российской Федерации. После подтверждения подлинности образовательных документов и проставления апостиля,
            необходимо осуществить перевод на испанский язык. Фамилию и имя в переводе необходимо указать также,
            как она написана в загранпаспорте владельца документа (если фамилия не менялась).
            В консульский отдел посольства Испании в Москве подаются оригиналы образовательных документов, их ксерокопии и перевод.
            Документы оформляются согласно требованиям консульского отдела.</p>`,

            `<p>Подробнее о стоимости услуг проставления апостиля на оригиналы образовательных документов смотрите <a href="price.html">здесь</a>.</p>`,
          ]
        }
      ]
    },
  ]
