-
  const Tabs = [
    {
      label: 'Документы ЗАГС',
      id: 1,
      isActive: true,
      data: [
        {
          title: 'Истребование документов, выданных органами ЗАГС',
          content: [
            `<p>Истребованию подлежат следующие документы: повторное свидетельство о рождении,
            свидетельство о смерти, свидетельство о заключении брака и свидетельство о расторжении брака.</p>`,
          ]
        },

        {
          strong: 'Но существует ряд документов, не подлежащий истребованию:',
          content: [
            `<ul>
              <li><p>
                Свидетельство о рождении родителям ребенка (одному из них), если они лишены или ограничены.
                в родительских правах
              </p></li>
              <li><p>
                Свидетельство о рождении на умерших.
              </p></li>
              <li><p>
                Свидетельство о заключении брака лицам, расторгнувшим брак, и лицам,
                брак которых признан недействительным.
              </p></li>
            </ul>`,

            `<p>В таком случае выдается справка, подтверждающая факт регистрации
            рождения или заключения брака.</p>`,

            `<p>Следует обратить внимание, что свидетельства о рождении несовершеннолетних истребуются только
            их законными представителями, а также свидетельства о смерти могут быть истребованы
            только родственниками умершего или же юридическими лицами.</p>`
          ]
        },

        {
          strong: 'Для получения дубликатов свидетельств из органов загс компанией «Импрешн» необходимы:',
          content: [
            `<ul>
              <li>
                <p><strong>Копия старого свидетельства</strong>.
                Если Вы не можете предоставить его копию, необходимо указать следующие сведения о данном
                документе: фамилии, имена, отчества лиц в документе, дату и место регистрации,
                номер актовой записи, место и дату выдачи документа.</p>
              </li>
              <li>
                <p><strong>Доверенность на сотрудника компании «Импрешн»</strong> для представления Ваших
                интересов в органе ЗАГС. (Доверенность может быть оформлена нотариально на территории
                РФ или же в Генеральном консульстве РФ в любой стране. Паспортные данные сотрудника
                компании «Импрешн» для оформления доверенности можно узнать, выслав запрос на нашу
                электронную почту).</p>
              </li>
            </ul>`,
            `<p>Подробнее о стоимости и сроках смотрите <a href="price.html">здесь</a>.</p>`
          ]
        },
      ]
    },

    {
      label: 'Образовательные документы',
      id: 2,
      data: [
        {
          title: 'Истребование документов об образовании',
          content: [
            `<p>Истребованию подлежат следующие документы: аттестат о неполном среднем образовании,
            аттестат о среднем (полном) общем образовании и приложение к нему, диплом бакалавра и приложение к нему,
            диплом магистра и приложение к нему, и ряд других документов</p>`,
          ]
        },

        {
          strong: 'Для получения дубликатов документов об образовании компанией «Импрешн» необходимы:',
          content: [
            `<ul>
              <li>
                <p><strong>Копия старого документа</strong>.
                Если Вы не можете предоставить его копию, необходимо указать
                следующие сведения о данном документе: фамилия, имя, отчество лица в документе,
                наименование учебного заведения, год выпуска, дату выдачи документа,
                факультет и специальность (для высших учебных заведений).</p>
              </li>
              <li>
                <p><strong>Доверенность на сотрудника компании «Импрешн»</strong>
                 для представления Ваших интересов в образовательном учреждении.
                 (Доверенность может быть оформлена нотариально на территории РФ или же в Генеральном консульстве РФ
                 в любой стране. Паспортные данные сотрудника компании «Импрешн» для оформления доверенности можно узнать,
                 выслав запрос на нашу электронную почту).
                </p>
              </li>
            </ul>`,

            `<p>Подробнее о стоимости и сроках смотрите <a href="price.html">здесь</a>.</p>`
          ]
        },
      ]
    },

    {
      label: 'Другие виды документов',
      id: 3,
      data: [
        {
          title: 'Истребование других видов документов',
          content: [
            `<p>Также истребованию подлежат: архивная справка о работе, справка о заработной плате, справка прохождении воинской службы в рядах Советской (Российской) Армии, справка нахождении на территории России во время Второй Мировой войны, справка о наличии (отсутствии) судимости в период проживания на территории России.</p>`,
            `<p>Следует помнить, что оригиналы трудовых и пенсионных книжек, военные билеты пересылке или вывозу за границу не подлежат. На основании сведений, указанных в данных документах, оформляются справки о трудовом стаже и о прохождении военной службы.</p>`,
            `<p>После получения истребованных документов компания «Импрешн» может предоставить услуги их апостилирования или легализации, а также их пересылки по указанному адресу.</p>`
          ]
        }
      ]
    }
  ]
