-
  const Langs = [
    {url: 'lang-page-layout.html', name: 'Абхазский'},
    {url: 'lang-page-layout.html', name: 'Азербайджанский'},
    {url: 'lang-page-layout.html', name: 'Английский'},
    {url: 'lang-page-layout.html', name: 'Армянский'},
    {url: 'lang-page-layout.html', name: 'Белорусский'},
    {url: 'lang-page-layout.html', name: 'Болгарский'},
    {url: 'lang-page-layout.html', name: 'Венгерский'},
    {url: 'lang-page-layout.html', name: 'Вьетнамский'},
    {url: 'lang-page-layout.html', name: 'Греческий'},
    {url: 'lang-page-layout.html', name: 'Грузинский'},
    {url: 'lang-page-layout.html', name: 'Датский'},
    {url: 'lang-page-layout.html', name: 'Испанский'},
    {url: 'lang-page-layout.html', name: 'Итальянский'},
    {url: 'lang-page-layout.html', name: 'Казахский'},
    {url: 'lang-page-layout.html', name: 'Киргизский'},
    {url: 'lang-page-layout.html', name: 'Китайский'},
    {url: 'lang-page-layout.html', name: 'Корейский'},
    {url: 'lang-page-layout.html', name: 'Латышский'},
    {url: 'lang-page-layout.html', name: 'Литовский'},
    {url: 'lang-page-layout.html', name: 'Молдавский'},
    {url: 'lang-page-layout.html', name: 'Монгольский'},
    {url: 'lang-page-layout.html', name: 'Немецкий'},
    {url: 'lang-page-layout.html', name: 'Нидерландский (голландский)'},
    {url: 'lang-page-layout.html', name: 'Норвежский'},
    {url: 'lang-page-layout.html', name: 'Осетинский'},
    {url: 'lang-page-layout.html', name: 'Польский'},
    {url: 'lang-page-layout.html', name: 'Португальский'},
    {url: 'lang-page-layout.html', name: 'Румынский'},
    {url: 'lang-page-layout.html', name: 'Сербский'},
    {url: 'lang-page-layout.html', name: 'Словацкий'},
    {url: 'lang-page-layout.html', name: 'Словенский'},
    {url: 'lang-page-layout.html', name: 'Таджикский'},
    {url: 'lang-page-layout.html', name: 'Турецкий'},
    {url: 'lang-page-layout.html', name: 'Туркменский'},
    {url: 'lang-page-layout.html', name: 'Узбекский'},
    {url: 'lang-page-layout.html', name: 'Украинский'},
    {url: 'lang-page-layout.html', name: 'Французский'},
    {url: 'lang-page-layout.html', name: 'Шведский'},
    {url: 'lang-page-layout.html', name: 'Эстонский'},
    {url: 'lang-page-layout.html', name: 'Японский'},
  ]

-
  const Tabs = [
    {
      label: 'Перевод документов',
      id: 1,
      isActive: true,
      data: [
        {
          content: [
            `<p><strong>Перевод документов</strong> — это процедура по интерпретации смысла текста документа,
            составленного на одном языке, с целью создания эквивалентного текста на другом языке.</p>`,
          ]
        },

        {
          title: 'В каких случаях необходимо делать перевод документов с нотариальным заверением&nbsp;?',
          content: [
            `<p>Согласно статье 10 Закона «Основы законодательства Российской Федерации о нотариате» делопроизводство в Российской Федерации
            ведется на русском. Любой документ, предназначенный для использования на территории РФ, выполненный полностью на иностранном языке
            или имеющий отдельные надписи на иностранном языке, должен быть переведён на русский язык, если иностранный текст не дублируется
            на русском языке. Перевод документов выполняется дипломированным переводчиком и, как правило, подпись переводчика на переводе
            должна быть заверена нотариусом.
            </p>`,

            `<p><strong>Нотариальное заверение перевода документов</strong> делается, чтобы придать документу официальный статус.
            При подаче документов в официальные органы или другие организации РФ часто возникает необходимость в заверении перевода документа
            нотариусом Российской Федерации. Нотариальное заверение перевода документов подтверждает, что работа выполнена
            профессиональным переводчиком, имеющим соответствующее образование и диплом.
            </p>`,

            `<p>Выполненный перевод документов подшивается либо к оригиналу, или к копии этого документа.
            Можно использовать копию документа, заверенную нотариусом или простую ксерокопию документа.
            Не рекомендуется подшивать к оригиналу переводы документов, удостоверяющих личность, например, паспортов,
            водительских удостоверений, военных билетов. В данном случае <strong>перевод документа</strong> подшивается к копии документа.
            </p>`
          ]
        },

        {
          title: 'Мы регулярно осуществляем следующие виды переводов личных документов:',
          content: [
            `<ul class="default-list">
              <li>
                <p>перевод аттестата</p>
              </li>
              <li>
                <p>перевод свидетельства о рождении</p>
              </li>
              <li>
                <p>перевод водительского удостоверения</p>
              </li>
              <li>
                <p>перевод свидетельства о смерти</p>
              </li>
              <li>
                <p>перевод диплома</p>
              </li>
              <li>
                <p>перевод согласия на выезд ребенка за границу</p>
              </li>
              <li>
                <p>перевод доверенности</p>
              </li>
              <li>
                <p>перевод справки о несудимости</p>
              </li>
              <li>
                <p>перевод паспорта</p>
              </li>
              <li>
                <p>перевод справки из банка</p>
              </li>
              <li>
                <p>перевод свидетельства о браке</p>
              </li>
              <li>
                <p>перевод трудовой книжки</p>
              </li>
              <li>
                <p>перевод свидетельства о расторжении брака</p>
              </li>
              <li>
                <p>перевод справки об отсутствии COVID-19</p>
              </li>
              <li>
                <p>перевод сертификата о вакцинации против COVID-19</p>
              </li>
            </ul>`
          ]
        },

        {
          title: 'Cрочный перевод документов в городе москва от бюро «Импрешн»',
          type: 'banner',
          content: [
            `<p>Центр «Импрешн» предлагает услугу «срочный перевод».
            Срочный перевод документов выполняется в течение 1-2 часов с момента подтверждения заказа.
            Тарифы на перевод документов в нашем центре с/на английский, немецкий,
            итальянский, украинский и другие языки смотрите на нашем сайте.</p>`
          ]
        },

        {
          content: [
            `<p>Подробнее о стоимости перевода с нотариальным удостоверением подлинности
            подписи переводчика на переводе документа можно узнать <a href="price.html">здесь</a>.</p>`,

            `<p><a href="#">Услуги переводчика в наши дни</a></p>`
          ]
        },
      ]
    },

    {
      label: 'Перевод сайта',
      id: 2,
      data: [
        {
          content: [
            `<p>На сегодняшний день перевод сайта является одной из самых востребованных услуг, относящихся к письменным переводам.
            Любая компания стремится расширить круг своих клиентов и партнёров по бизнесу.
            Ваш сайт является одним из эффективнейших орудий для достижения этой цели.
            Перевод сайта позволит рекламировать свои услуги и продукцию по всему миру, а так же донести необходимую информацию до потенциальных клиентов,
            находящихся в другой части света. Важным моментом при переводе сайта является выбор языка, на который следует его перевести.
            Наиболее распространённым в сети Интернет является английский язык. Далее с большим отставанием идут языки: русский, немецкий, испанский,
            китайский, французский и японский. Но русский, арабский и китайский языки набирают популярность с опережающими темпами.
            Если Вы ещё не определились с выбором языка, мы рекомендуем выполнить перевод сайта на английский, немецкий, испанский,
            китайский и арабский языки.</p>`,
          ]
        },

        {
          title: 'Особенности перевода сайтов',
          content: [
            `<p>Особенностью перевода сайта является то, что текст должен быть, не просто переведён на определённый язык,
            он должен ещё быть адаптирован для пользователей, говорящих на данном языке.
            Любой язык имеет свои особенности. Поэтому перевод сайта, как правило, осуществляется «носителем» данного языка.
            При этом приходится не просто переводить сайт, а фактически переписывать статьи заново под целевого пользователя,
            сохраняя их смысл.</p>`,

            `<p>Помимо перевода статей сайта выполняется перевод других объектов: меню, кнопок, заставок, и т. д.</p>`,

            `<p>Часто не требуется переводить весь текст на сайте, так как это выходит очень накладно.</p>`,

            `<p>Осуществляя перевод сайта, достаточно бывает перевести отдельные статьи, предназначенные для иностранных клиентов.</p>`,

            `<p>При переводе сайта учитываются пожелания заказчика по оптимизации содержания статей, по частоте использования
            определённых ключевых слов, что позволит сайту занимать высокие места в поисковых сервисах.</p>`,

            `<p>Наша компания осуществляет перевод сайта, а так же помогает обновлять его содержание на постоянной основе,
            учитывая все требования владельца сайта.</p>`,

            `<p>По желанию заказчика мы можем выполнить перевод статей сайта и помочь в размещении переведённых текстов на сайте.</p>`
          ]
        },
      ]
    },

    {
      label: 'Письменный перевод',
      id: 3,
      data: [
        {
          title: 'Юридический перевод',
          content: [
            `<p>Юридический перевод текстов и документов является одним из самых распространенных видов в области переводческой деятельности.
            Однако это не говорит о его легкости. Трудность юридического перевода текста/документа заключается как в его объеме, так и содержании.
            Каждый документ требует определенного подхода, ведь построение и стилистика текста документов компании или предприятия
            существенно отличается, например, от какого-либо юридического трактата или текста решения суда.
            В зависимости от этого варьируется и стоимость юридического перевода.</p>`
          ]
        },

        {
          title: 'Технический перевод',
          content: [
            `<p>Технический перевод – это перевод узкоспециализированных текстов, используемый для обмена
            специальной научно- технической информацией между людьми, говорящими на разных языках.</p>`
          ]
        },

        {
          subtitle: 'Наше бюро переводов осуществляет следующие виды технических переводов:',
          content: [
            `<ul>
              <li>перевод технических и научных статей для специализированных изданий;</li>
              <li>перевод технических описаний;</li>
              <li>перевод инструкций;</li>
              <li>перевод технических брошюр;</li>
              <li>перевод технических каталогов;</li>
              <li>перевод руководств по монтажу и наладке оборудования;</li>
              <li>перевод чертежей и схем;</li>
              <li>перевод спецификаций и т. д.</li>
            </ul>`
          ]
        },

        {
          title: 'Медицинский перевод',
          content: [
            `<p>Медицинский перевод – является одним из сложнейших видов в области переводческой деятельности.
            Это объясняется несколькими факторами. Одна из них – подбор переводчиков. Это достаточно сложный процесс, так как человек,
            занимающийся переводом тестов в данной области, должен, прежде всего, быть в ней компетентен,
            то есть он обязан знать всю необходимую медицинскую терминологию. В основном медицинский перевод осуществляют переводчики,
            имеющие медицинское образование. Мы выполняем медицинские переводы с разных языков.</p>`
          ]
        },
      ]
    },

    {
      label: 'Устный перевод',
      id: 4,
      data: [
        {
          content: [
            `<p>В наше время всеобщей глобализации и развития внешнеэкономических связей растёт спрос на услуги устного перевода. </p>`
          ]
        },

        {
          title: 'Устный перевод часто необходим в следующих ситуациях:',
          content: [
            `<ul class="default-list">
              <li>при проведении деловых переговоров</li>

              <li>при сопровождении экскурсий</li>

              <li>при проведении семинаров, тренингов, презентаций, выставок, и т. д.</li>

              <li>при проведении пресс-конференций</li>

              <li>при осуществлении монтажа оборудования и при проведении пуско-наладочных работ</li>

              <li>для телефонных переговоров</li>
            </ul>`,

            `<p>При устном переводе, в отличие от письменного перевода, переводчик лишь однократно прослушивает
            отрезки оригинала и затем осуществляет перевод. При этом, естественно, после осуществления устного перевода,
            сопоставление перевода с оригиналом и исправление допущенных ошибок является невозможным. Поэтому требования к
            устному переводчику значительно выше, чем к переводчику, занимающемуся письменныКми переводами.
            Устный переводчик обязан не только в совершенстве знать языки перевода и оригинала, хорошо разбираться в тематике перевода,
            но он ещё должен уметь анализировать исторические и культурные аспекты
            исходного текста и обладать знаниями в области делового этикета. Устный переводчик должен уметь передать намёки,
            тон и эмоции оратора. Переводчик, осуществляющий устный перевод, должен обладать высоким уровнем
            коммуникабельности и быстро адаптироваться под особенности каждого собеседника.
            Таким образом, выбор профессионального переводчика напрямую влияет на успех предстоящего мероприятия.
            Переводчики могут стать как хорошими помощниками в налаживании отношений с иностранными партнёрами,
            так и нанести серьёзный вред этим отношениям. Даже небольшие ошибки в переводе могут привести к
            серьёзным разногласиям в переговорах. Выбор устного переводчика является не лёгкой задачей.</p>`
          ]
        },

        {
          title: `Как найти хорошего переводчика для устного перевода&nbsp;?`,
          content: [
            `<p>Выбирая устного переводчика, нужно ознакомиться с его резюме, опытом работы, списком клиентов.
            Если Вам необходим устный перевод на какую-нибудь узкоспециализированную тематику, например, медицина,
            техника, юриспруденция то наличие второго образования и опыта работы в данной сфере будет являться
            дополнительным преимуществом для устного переводчика. Большим преимуществом для переводчика так же будет опыт
            проживания и работы или учёбы в другой стране. Мы рекомендуем при выборе переводчика созвониться
            с его клиентами и получить от них отзывы о его работе.</p>`,

            `<p>Если Вам необходим профессиональный устный переводчик, хорошо
            зарекомендовавший себя в работе и имеющий большой опыт, обращайтесь в наше бюро.
            Наше бюро переводов готово предоставить в Ваше распоряжение высококвалифицированных переводчиков с различных языков.
            Мы гарантируем качество и конфиденциальность информации при осуществлении переводческих услуг.</p>`,

            `<p>Мы выполним все Ваши требования, приведённые в заявке, относительно сроков, условий,
            характера и места проведения работы, уровня квалификации и специализации переводчиков.
            Наши менеджеры смогут подобрать для Вас несколько кандидатов и выслать Вам на утверждение их резюме.
            Вы так же можете при желании заранее встретиться с ними и убедиться лично, насколько они подходят для предстоящей работы.
            Стоимость наших услуг по устному переводу приведена в разделе «Цены».</p>`
          ]
        },

        {
          title: `Последовательный перевод`,
          content: [
            `<p>Последовательный перевод – это вид устного перевода, при котором переводчик начинает говорить тогда, когда оратор сделал паузу в своей речи.</p>`,

            `<p>Последовательный перевод преимущественно применяется, когда мероприятие проходит с небольшим количеством людей. Не обойтись без последовательного перевода и в тех случаях, когда требуется мобильность: проведение различных экскурсий, выезд на монтаж и приёмочные испытания объектов, проведение банкетов и т. д.</p>`,

            `<p>Последовательный перевод будет оптимальным выбором, если необходим устный перевод при деловых переговорах.</p>`,

            `<p>Последовательный перевод часто используется при телефонных разговорах.</p>`
          ]
        },

        {
          subtitle: `Каковы преимущества последовательного перевода&nbsp;? Что лучше выбрать: последовательный или синхронный перевод ?`,
          content: [
            `<p>Во-первых, как уже было сказано выше, последовательный перевод не ограничивает мобильность мероприятий. Не нужно использовать дополнительное техническое оборудование, без которого не обойтись при синхронном переводе. Во-вторых, последовательный перевод более экономичен, так как одного переводчика на мероприятии будет вполне достаточно. Услуги переводчика, осуществляющего устный последовательный перевод, стоят дешевле, чем переводчика-синхрониста. В-третьих, последовательный перевод будет более точен, чем синхронный. У переводчика, осуществляющего последовательный перевод, есть немного времени, чтобы осмыслить фразы, произнесённые оратором и подготовиться к передаче их слушателям на другом языке.</p>`,
            `<p>Опытный оратор всегда вставляет необходимые паузы в свою речь, давая возможность переводчику сделать свою работу. Последовательный перевод требует от переводчика натренированной памяти и умения быстро переключаться с одного языка на другой. Профессиональный переводчик формирует мысленно перевод ещё в то время, когда звучит речь оратора, а затем во время паузы он пересказывает всё произнесённое оратором. Поэтому устный переводчик должен уметь удерживать в памяти длинные высказывания докладчика и одновременно обдумывать свой перевод. Иногда ораторы сильно увлекаются и забывают делать паузы. В таких случаях переводчику приходится в ходе осуществления последовательного перевода успевать записывать различные важные факты: имена, цифры, даты, названия и т. д. Переводческая скоропись является обязательным навыком квалифицированного устного переводчика, осуществляющим последовательный перевод.</p>`,
          ]
        },

        {
          subtitle: `К недостаткам последовательного перевода можно отнести следующее:`,
          content: [
            `<ul>
              <li>последовательный устный перевод занимает как минимум в два раза больше времени, чем синхронный перевод.</li>
              <li>последовательный перевод может раздражать тех людей, которые знают язык оратора и понимают его речь.</li>
            </ul>`,
            `<p>В ряде случаев без синхронного перевода просто не обойтись, например, на международных конференциях, где участвует много участников, говорящих на разных языках и время проведения мероприятия строго регламентировано.</p>`,
            `<p>Осуществить качественный последовательный перевод могут только опытные профессиональные переводчики.</p>`,
            `<p>Наше бюро переводов, расположенное на Таганской (радиальной), предлагает услугу последовательного перевода. Мы сможем предоставить Вам опытного переводчика для осуществления последовательного перевода на различных мероприятиях. Для обеспечения качественного перевода, мы рекомендуем Вам заранее предоставить нам информацию и любые вспомогательные материалы, касающиеся предстоящего мероприятия. Это позволит нам подобрать для Вас переводчика соответствующей тематики и даст возможность переводчику заранее подготовиться к предстоящей работе.</p>`,
          ]
        },



        {
          title: `Синхронный перевод`,
          content: [
            `<p>Синхронный перевод — это вид устного перевода, при котором переводчик практически одновременно с оратором произносит перевод его речи. Отставание речи переводчика от речи оратора составляет 2-3 секунды. Синхронный перевод осуществляется в специальной кабине с применением дополнительных технических средств. Речь оратора передаётся переводчику через наушники, а переводчик говорит в микрофон. Далее речь переводчика транслируется слушателям.</p>`,
            `<p>Синхронный перевод является самым сложным видом перевода для переводчиков. Он по силам только самым опытным и профессиональным переводчикам. При синхронном переводе на передний план выступает умение переводчика одновременно слушать и говорить. С одной стороны оратор говорит практически без пауз и нужно успевать переводить его речь, а с другой стороны, в отличие от последовательного перевода, где переводчик, если что-нибудь не понял, может уточнить это у оратора, переводчик-синхронист не имеет такой возможности. Такая работа требует от переводчика-синхрониста колоссальной физической и психологической выносливости, отличного владения языком, на котором произносит свою речь оратор, умения сосредоточиться и обладания превосходной артикуляцией, доведённой до автоматизма. Нормой работы для синхрониста считается промежуток времени не более 20 минут. Потом переводчику необходим отдых. Поэтому, для обеспечения непрерывного синхронного перевода на различных мероприятиях, необходимо присутствие как минимум двух переводчиков, которые будут обеспечивать синхронный перевод на определённый язык. Исходя из выше сказанного, становится понятно, почему услуги профессионального переводчика-синхрониста стоят намного дороже, чем переводчика осуществляющего последовательный перевод.</p>`,
            `<p>Синхронный перевод необходим тогда, когда мероприятие строго регламентировано и остро ощущается недостаток времени при большом количестве информации. Кроме того, не обойтись без синхронного перевода, когда на мероприятии присутствует большое количество участников, говорящих на разных языках.</p>`
          ]
        },

        {
          subtitle: `Преимуществом синхронного перевода является:`,
          content: [
            `<ul><li>Высокая скорость, удобство для оратора (ему не нужно прерывать свою речь, чтобы переводчик смог её перевести), удобство для слушателей (им не нужно дважды слушать одно и то же, только на разных языках - высказывания оратора и речь переводчика).</li></ul>`,
          ]
        },

        {
          subtitle: `Недостатком синхронного перевода является:`,
          content: [
            `<ul>
              <li>Необходимость использования дополнительной техники, отсутствие мобильности и высокая стоимость синхронного перевода.</li>
            </ul>`,

            `<p>Если Вам необходимо на предстоящем мероприятии обеспечить синхронный перевод, обращайтесь в наше бюро профессиональных переводов. Мы предоставим для Вас опытных переводчиков-синхронистов. Вы можете в заявке оговорить все необходимые требования, касающиеся тематики перевода, квалификации и навыков переводчика, сроков и места проведения работы. Наш переводчик может заранее выехать к Вам для собеседования и утверждения его кандидатуры.</p>`,
            `<p>Для обеспечения качественного синхронного перевода мы рекомендуем Вам заранее предоставить нам информацию и любые вспомогательные материалы, касающиеся предстоящего мероприятия. Это позволит нам подобрать для Вас переводчика-синхрониста соответствующей тематики и даст возможность переводчику заранее подготовиться к предстоящей работе.</p>`
          ]
        },
      ]
    },
  ]
