.info-block
  .info-block__header
    .note-banner
      h3 Апостиль на документы
      p Апостиль и перевод документов — это одна из самых востребованных услуг нашего центра. Мы ставим апостиль на документы в соответствующих гос. органах и осуществляем перевод этих документов с нотариальным заверением. Апостиль на документы ставится в течение 4-5 дней.
      p <strong>Если вам необходимо поставить апостиль на документы и сделать перевод этих документов в городе Москва, обращайтесь к нам!</strong>
      p У нас большой опыт в оказании услуги проставления апостиля на дипломы, свидетельства и другие виды документов, в том числе нотариально заверенных.

    .info-banner
      h3 Специальная цена <br/>на апостиль документов
      span от 3 500 ₽
      small Звоните:
      a(href="tel:+74959285366") +7 (495) 928-53-66

  .info-block__content
          h3 Зачем необходимо ставить апостиль на документы?

          p Апостиль на документы необходимо ставить тогда, когда Вы планируете выезжать за пределы России на длительное время с целью постоянного проживания, поиска новой работы, учебы в иностранных ВУЗах или создания семьи. Документы, выданные в Российской Федерации действительны без консульской легализации и апостиля только в тех странах, которые имеют с Россией договор о взаимном признании документов. К таким странам, например, относятся: Вьетнам, Индия, большинство стран бывшего СССР, а так же Варшавского блока. Более подробный список этих стран Вы можете посмотреть здесь.
          p Однако, несмотря на наличие таких договоров, многие страны просят все равно поставить апостиль на документы. Для чего нужен апостиль на документы? Апостиль ставится для того, чтобы придать документам законную силу на территории государства, которое подписало Гаагскую конвенцию об апостиле от 05 октября 1960 г. Апостиль является упрощённой формой консульской легализации документов. Благодаря нему документ можно легализовать в короткие сроки в одном из госорганов, уполномоченных ставить апостили. Нет необходимости заверять документы в Министерстве Юстиции РФ, затем в МИДе РФ и потом в посольстве страны, в которой эти документы будут предъявляться.


          h3 Где ставится апостиль?

          p <strong>Следующие органы уполномочены ставить апостиль на документы:</strong>
          ul.info-block__content-list.info-block__content-list--flex
            li
              p Министерство юстиции РФ: на документы выданные органами юстиции (судами) и нотариусами (решения и постановления судов, нотариальные копии документов, доверенности, согласия, удостоверенные нотариусом и т. д.)
            li
              p Органы ЗАГС: на документы о гос. регистрации актов гражданского состояния (свидетельства о рождении, свидетельства о браке, свидетельства о смерти, свидетельства о перемене имени или фамилии, справки о гражданском состоянии и т. д.)
            li
              p Рособрнадзор: на документы об образовании государственного образца (дипломы, аттестаты, академические справки, выданные до 2014 г. и т. д.)
            li
              p Министерство обороны РФ: на документах о военной службе в рядах Вооруженных сил РФ
            li
              p Росархив: на документы, подготовленные федеральными государственными архивами (справки, выписки и копии архивных документов)
            li
              p Министерство внутренних дел РФ: на справки о несудимости, выданные ГИАЦ МВД


          h3 Какая государственная пошлина за проставление апостиля на документе?
          p В настоящее время государственная пошлина за проставление апостиля составляет 2500 руб.


          h3 Список органов, уполномоченных поставить апостиль на документы
          ul.info-block__content-list.info-block__content-list--iconed
            li
              svg(width="50" height="50")
                use(xlink:href="./assets/sprite.svg#icon-family")

              p <strong>Апостиль на свидетельство о рождении, заключении или расторжении брака</strong> проставляется отделами ЗАГС.

            li
              svg(width="50" height="50")
                use(xlink:href="./assets/sprite.svg#icon-profile")

              p <strong>Апостиль на справки об отсутствии судимости</strong> проставляется Главным информационно-аналитическим центром МВД.

            li
              svg(width="50" height="50")
                use(xlink:href="./assets/sprite.svg#icon-education")

              p <strong>Апостиль на диплом и приложение к нему, аттестат или иной документ об образовании</strong> проставляется Департаментами или Управлениями образования.

            li
              svg(width="50" height="50")
                use(xlink:href="./assets/sprite.svg#icon-stamp")

              p <strong>Апостиль на документы, выданные нотариусами столицы</strong>, проставляет Главное управление Министерства юстиции РФ по Москве.
              p <strong>Апостиль на документы, выданные нотариусами Московской области</strong>, проставляет Управление Министерства юстиции РФ по Московской области.

          a(href="price.html") Сроки и стоимость проставления апостиля





