.lw {
  &-fw-light {
    font-weight: 300;
  }
  &-fw-normal {
    font-weight: 400;
  }
  &-fw-medium {
    font-weight: 500;
  }
  &-fw-semibold {
    font-weight: 600;
  }
  &-fw-bold {
    font-weight: 700;
  }

  &-inner-offset {
    padding: 60px 0;

    @include m-b-laptop-down {
      padding: 50px 0;
    }

    @include m-b-tablet-lg-down {
      padding: 40px 0;
    }

    @include m-b-tablet-down {
      padding: 30px 0;
    }
  }

  &-alt-bg {
    background-image: url(../assets/img/wood-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &-section {
    @extend .lw-inner-offset;
  }

  &-section-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 60px;
    display: inline-block;

    color:var(--accent);

    @include m-b-tablet-lg-down {
      margin-bottom: 40px;
    }

    @include m-b-tablet-down {
      font-size: 24px;
      margin-bottom: 20px;
    }

    @include m-b-mobile-lg-down {
      font-size: 22px;
    }
  }

  &-subtitle {
    display: inline-block;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 20px;

    @include m-b-tablet-down {
      font-size: 24px;
    }

    @include m-b-mobile-lg-down {
      font-size: 22px;
    }
  }

  &-accent {
    color: var(--accent);
  }

  &-image-gallery-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    padding: 20px 0;

    img {
      border: 2px solid var(--accent);
    }

    @include m-b-laptop-down {
      grid-template-columns: repeat(4, 1fr);
    }

    @include m-b-tablet-down {
      grid-template-columns: repeat(3, 1fr);
    }

    @include m-b-mobile-lg-down {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.zoomable {
  cursor: pointer;
}
