.lw {
  /*&-text-xxl {
    font-size: var(--text-xxl);
    font-weight: 400;
  }

  &-text-xl {
    font-size: var(--text-xl);
    font-weight: 400;
  }

  &-text-lg {
    font-size: var(--text-lg);
    font-weight: 400;
  }

  &-text-md {
    font-size: var(--text-md);
    font-weight: 400;
  }

  &-text-sm {
    font-size: var(--text-sm);
    font-weight: 400;
  }

  &-text-xs {
    font-size: var(--text-xs);
    font-weight: 400;
  }

  &-text-xxs {
    font-size: var(--text-xxs);
    font-weight: 400;
  }

  &-text-center {
    text-align: center;
  }*/

  &-fw-light {
    font-weight: 300;
  }
  &-fw-normal {
    font-weight: 400;
  }
  &-fw-medium {
    font-weight: 500;
  }
  &-fw-semibold {
    font-weight: 600;
  }
  &-fw-bold {
    font-weight: 700;
  }

  &-inner-offset {
    padding: 60px 0;

    @include m-b-laptop-down {
      padding: 50px 0;
    }

    @include m-b-tablet-lg-down {
      padding: 40px 0;
    }

    @include m-b-tablet-down {
      padding: 30px 0;
    }
  }

  &-alt-bg {
    background-image: url(../assets/img/wood-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &-section {
    @extend .lw-inner-offset;
  }

  &-section-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 60px;
    display: inline-block;

    color:var(--accent);

    @include m-b-tablet-lg-down {
      margin-bottom: 40px;
    }

    @include m-b-tablet-down {
      font-size: 24px;
      margin-bottom: 20px;
    }

    @include m-b-mobile-lg-down {
      font-size: 22px;
    }
  }
}
