/* stylelint-disable color-function-notation */
/* stylelint-disable alpha-value-notation */

:root {
    // base
    --font-family: "segoi", sans-serif;
    --content-width: 1340px;
    --content-fluid-width: 1920px;
    --container-offset: 30px;
    --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
    --container-fluid-width: var(--content-fluid-width);
    // colors
    --dark: #222131;
    --white: #ffffff;
    --accent: #704437;
    --info: #708879;
    --secondary: #78778E;
    --main-color: var(--dark);
    --main-bg-color: var(--white);

    //burger
    --burger-line-color: var(--accent);
    //btns
    --main-btn-color: var(--white);
    --main-btn-bg: var(--accent);
    //nav
    --main-nav-link-color: var(--main-color);
    --main-nav-link-border: var(--accent);
    // social
    --social-icon-fill: var(--white);
    --social-icon-bg: rgba(255,255,255,.2);
    //service
    --service-list-item-icon-fill: var(--info);
    --service-list-item-text: var(--secondary);
    --service-list-item-text-link: var(--accent);
    --service-list-item-more-link-color: var(--accent);
    --service-list-item-bg: var(--white);
    --service-list-item-shadow: 0px 4px 30px rgba(72, 38, 7, 0.12);
    //main-slider
    --main-slider-button-shadow: 0px 4px 15px rgba(120, 89, 44, 0.25);
    --main-slider-button-icon-fill: var(--accent);
    --main-slider-button-color: var(--white);
    --main-slider-item-shadow: 0px 4px 30px rgba(72, 38, 7, 0.12);
    //transition
    --main-transition: 0.25s linear;
    --nav-link-transition: 0.5s 0.1s ease-in;
    //icons
    --feature-icon-bg: var(--info);
    --feature-icon-fill: var(--white);
    //form
    --main-control-color: var(--main-color);
    --main-control-bg: #f1f1f1;
    --main-control-placeholder-color: var(--secondary);
    --custom-select-focus-color: var(--white);
    --custom-select-focus-bg: var(--info);
    --checkbox-border: #b8b8b8;
    // scrollbar
    --main-scrollbar-width: 6px;
    --main-scrollbar-color: var(--white-color);
    --main-scrollbar-thumb-color: var(--accent);

    // text-sizes
    --text-xxl: clamp(36px, 7.5vw, 64px);
    --text-xl: clamp(28px, 5vw, 44px);
    --text-lg: clamp(24px, 4vw, 36px);
    --text-md: clamp(20px, 3.5vw, 32px);
    --text-sm: clamp(16px, 3vw, 28px);
    --text-xs: 14px;
    --text-xxs: 12px;
  }
