.breadcrumbs
  .container
    ul.breadcrumbs__list
      li.breadcrumbs__list-item
        a(href="#") Главная
      li.breadcrumbs__list-item
        a(href="#") Консульская легализация
      li.breadcrumbs__list-item
        span Консульская легализация образовательных документов
