.company-info
  h4 © 2022, Бюро переводов «Импрешн»

  span
    span Общество с ограниченной ответственностью «Импрешн»
    span ИНН/КПП 7721677539/773401001 ОГРН 1097746707662
    address 109147, г. Москва, ул. Марксистская, дом 10, стр.1, офис 306
    span Расч. счет 40702810638000075695 в банке ПАО СБЕРБАНК, г. Москва.
    span к/с 30101810400000000225 БИК 044525225 ОКПО 63782765
