-
  const navList = [
    { url:'translation.html', title: 'Переводы', cls: 'has-inner',
      innerList: [
        {
          url:'#', title: 'Апостиль документов',
        },
        {
          url:'#', title: 'Апостиль справки о несудимости',
        }
      ]
    },
    {
      url:'apostille.html', title: 'Апостиль',
      cls: 'has-inner',
      innerList: [
        {
          url:'#', title: 'Апостиль документов',
        },
        {
          url:'#', title: 'Апостиль справки о несудимости',
        }
      ]
    },
    {
      url:'legalization.html', title: 'Консульская легализация',
      cls: 'has-inner',
      innerList: [
        {
          url:'#', title: 'Легализация для Саудовской аравии',
        },
        {
          url:'#', title: 'Легализация для колумбии',
        },
        {
          url:'#', title: 'Легализация для Саудовской аравии',
        },
        {
          url:'#', title: 'Легализация для колумбии',
        },
        {
          url:'#', title: 'Легализация для Саудовской аравии',
        },
        {
          url:'#', title: 'Легализация для колумбии',
        },
        {
          url:'#', title: 'Легализация для Саудовской аравии',
        },
        {
          url:'#', title: 'Легализация для колумбии',
        },
        {
          url:'#', title: 'Легализация для Саудовской аравии',
        },
        {
          url:'#', title: 'Легализация для колумбии',
        },
        {
          url:'#', title: 'Легализация для Саудовской аравии',
        },
        {
          url:'#', title: 'Легализация для колумбии',
        },
        {
          url:'#', title: 'Легализация для Саудовской аравии',
        },
        {
          url:'#', title: 'Легализация для колумбии',
        },
        {
          url:'#', title: 'Легализация для Саудовской аравии',
        },
        {
          url:'#', title: 'Легализация для колумбии',
        },
        {
          url:'#', title: 'Легализация для Саудовской аравии',
        },
        {
          url:'#', title: 'Легализация для колумбии',
        }
      ]
    },
    { url:'reclamation.html', title: 'Истребование документов' },
    { url:'price.html', title: 'Цены' },
    { url:'contact.html', title: 'Контакты' },
  ]

nav.main-nav
  .main-nav__header
    a(href="index.html" aria-label="На главную").main-logo
      img(src="./assets/img/logo.svg" alt="Buroimpression.ru" width="160" height="50")
    button.main-nav__closer
      svg(width="24" height="24")
        use(xlink:href="./assets/sprite.svg#icon-close")
  ul.main-nav__list
    each item in navList
      li.main-nav__list-item(class = item.cls ? item.cls : null)
        a(href= item.url)= item.title
          if item.innerList
            svg(width="16" height="16")
              use(xlink:href="./assets/sprite.svg#icon-menu-arrow")
        if item.innerList
          ul.main-nav__inner-list
            each inner in item.innerList
              li.main-nav__inner-list-item
                a(href= inner.url class= inner.cls ? inner.cls : null)= inner.title

  <a class="main-btn" href="#order" data-scroll-to="order">Заказать звонок</a>
