include ../mixins/main-btn
include ../mixins/main-input
include ../mixins/main-checkbox
include ../mixins/custom-select

.order-form
  h2.lw-section-title Заказать звонок
  p Оставьте свои данные и мы свяжемся с вами.

  form(action='#' id="order-form")
    fieldset
      .order-form__field
        +main-input({
          type: 'text',
          placeholder: 'Ваше имя',
          id: 'user_name'
        })
      .order-form__field
        +main-input({
          type: 'tel',
          placeholder: 'Телефон',
          id: 'user_phone',
        })
      .order-form__field
        +main-input({
          type: 'text',
          placeholder: 'Email',
          id: 'user_email'
        })
      .order-form__field
        +custom-select({
          id: 'order-type',
          options: [
            { value: 'callback', name: 'Обратный звонок', isSelected: true},
            { value: 'translate', name: 'Переводы'},
            { value: 'apostil', name: 'Апостиль'},
            { value: 'legalization', name: 'Консульская легализация'},
            { value: 'reclamation', name: 'Истребование документов'},
          ]
        })

  +main-btn({
    type: 'submit',
    text: 'Отправить',
    cls: 'order-form__btn order-form-submit'
  })

