.social
  ul.social__list
    li.social__list-item
      a(href="#" rel="noopener nofollow noreferrer" aria-label="Вконтакте")
        svg(width="24" height="24")
          use(xlink:href="./assets/sprite.svg#icon-vk")
    li.social__list-item
      a(href="#" rel="noopener nofollow noreferrer" aria-label="Facebook")
        svg(width="12" height="24")
          use(xlink:href="./assets/sprite.svg#icon-fb")
    li.social__list-item
      a(href="#" rel="noopener nofollow noreferrer" aria-label="Twitter")
        svg(width="24" height="20")
          use(xlink:href="./assets/sprite.svg#icon-twitter")
