extends layouts/main-layout.pug

block variables
  -
    const title = "Апостиль"
    const desc = ""
    const keywords = ""

block content
  include ./views/index-page/hero-section
  include ./views/apostille-page/main-content-section
  include ./views/apostille-page/apostille-info
  include ./views/common/client-section
  include ./views/common/order-section

block modals
  //include ./modals/...
