extends layouts/main-layout.pug

block variables
  -
    const title = "Бюро переводов Импрешн"
    const desc = "Описание сайта"
    const keywords = ""

block content
  include ./views/index-page/hero-section
  include ./views/info-page-layouts/country
  include ./views/common/client-section
  include ./views/common/order-section

block modals
