extends layouts/main-layout.pug

block variables
  -
    const title = "Примеры наших работ"
    const desc = "Описание сайта"
    const keywords = ""

block content
  include ./views/index-page/hero-section
  include ./views/example-page/example-detail
  include ./views/common/client-section
  include ./views/common/order-section

block modals
  //include ./modals/...
