extends layouts/main-layout.pug

block variables
  -
    const title = "Бюро переводов Импрешн"
    const desc = ""
    const keywords = ""

block content
  include ./views/index-page/hero-section
  include ./views/index-page/feature-section
  include ./views/index-page/service-section
  include ./views/index-page/review-section
  include ./views/common/client-section
  include ./views/index-page/certificate-section
  include ./views/common/order-section

block modals
  //include ./modals/...
