extends layouts/main-layout.pug

block variables
  -
    const title = ""
    const desc = ""
    const keywords = ""

block content
  include ./views/index-page/hero-section
  include ./views/index-page/feature-section
  include ./views/index-page/service-section

block modals
  //include ./modals/...
