extends layouts/main-layout.pug

block variables
  -
    const title = ""
    const desc = ""
    const keywords = ""

block content

  //include ./views/common/preview-section
  include ./views/legalization-page/order-step-section
  include ./views/legalization-page/info-section
  include ./views/legalization-page/faq-section
  include ./views/common/client-section
  include ./views/common/order-section

block modals
  //include ./modals/...
