extends layouts/main-layout.pug

block variables
  -
    const title = "Консульская легализация документов"
    const desc = "Описание сайта"
    const keywords = ""

block content
  include ./components/hero
  include ./views/nostrification-page/main-content-section
  include ./views/common/client-section
  include ./views/common/order-section

block modals
  //include ./modals/...
