extends layouts/main-layout.pug

block variables
  -
    const title = "Нотариальное заверение перевода"
    const desc = "Описание сайта"
    const keywords = ""

block content
  include ./views/index-page/hero-section
  include ./views/notary-page/notary
  include ./views/common/client-section
  include ./views/common/order-section

block modals
  //include ./modals/...
