extends layouts/main-layout.pug

block variables
  -
    const title = "Отзывы о нас"
    const desc = "Описание сайта"
    const keywords = ""

block content
  include ./components/hero
  include ./views/offers-page/index
  include ./views/common/client-section
  include ./views/common/order-section
