extends layouts/main-layout.pug

block variables
  -
    const title = "Наши партнеры"
    const desc = ""
    const keywords = ""

block content
  include ./views/index-page/hero-section
  include ./views/partners-page/partners
  include ./views/common/client-section
  include ./views/common/order-section

block modals
  //include ./modals/...
