section.main-content.examples
  .container
    h2.lw-section-title Примеры работ. Консульская легализация

    ul
      li
        <h3>Технический перевод Danfoss</h3>
        <p>Описание</p>
        <div class="examples__content">
          <div class="examples__content-item">
            <a href="#" target="_blank" aria-label="Технический перевод Danfoss">
              <img width="155" height="200" src="./assets/img/pdf@1x.png" alt="">
            </a>
            <small>* Оригинал</small>
          </div>

          <div class="examples__content-item">
            <a href="#" target="_blank">
              <img width="155" height="200" src="./assets/img/pdf@1x.png" alt="">
            </a>
            <small>*Перевод и верстка</small>
          </div>
        </div>

      li
        <h3>Апостиль Федеральной службы по надзору в сфере образования и науки</h3>
        <p></p>
        <div class="examples__content">
          <div class="examples__content-item">
            <a href="/upload/iblock/fd6/cym2yma24r65j1sf6zpfikxacuyx3amn/apostille_new.pdf" target="_blank" aria-label="Апостиль Федеральной службы по надзору в сфере образования и науки">
              <img width="155" height="200" src="./assets/img/pdf@1x.png" alt="">
            </a>
            <small></small>
          </div>
        </div>

      li
        <h3>Апостиль Федеральной службы по надзору в сфере образования и науки</h3>

        <div class="examples__content">
          <div class="examples__content-item">
            <a href="/upload/iblock/fd6/cym2yma24r65j1sf6zpfikxacuyx3amn/apostille_new.pdf" target="_blank" aria-label="Апостиль Федеральной службы по надзору в сфере образования и науки">
              <img width="155" height="200" src="./assets/img/pdf@1x.png" alt="">
            </a>
          </div>
        </div>

      li
        <h3>Технический перевод Danfoss</h3>

        <div class="examples__content">
          <div class="examples__content-item">
            <a href="#" target="_blank" aria-label="Технический перевод Danfoss">
              <img width="155" height="200" src="./assets/img/pdf@1x.png" alt="">
            </a>
            <small>* Оригинал</small>
          </div>

          <div class="examples__content-item">
            <a href="#" target="_blank">
              <img width="155" height="200" src="./assets/img/pdf@1x.png" alt="">
            </a>
            <small>*Перевод и верстка</small>
          </div>
        </div>

      li.examples__item
        <h3>Технический перевод Danfoss</h3>

        <div class="examples__content">
          <div class="examples__content-item">
            <a href="#" target="_blank" aria-label="Технический перевод Danfoss">
              <img width="155" height="200" src="./assets/img/pdf@1x.png" alt="">
            </a>
            <small>* Оригинал</small>
          </div>

          <div class="examples__content-item">
            <a href="#" target="_blank">
              <img width="155" height="200" src="./assets/img/pdf@1x.png" alt="">
            </a>
            <small>*Перевод и верстка</small>
          </div>
        </div>



