-
  const examples = [
    {
      title: 'Апостиль Министерства образования Российской Федерации',
      link: './assets/pdf/apostyle.pdf'
    },

    {
      title: 'Апостиль ГИАЦ МВД',
      link: './assets/pdf/apostyle.pdf'
    },

    {
      title: 'Апостиль Главного управления Министерства юстиции РФ по г.Москве',
      link: './assets/pdf/apostyle.pdf'
    },

    {
      title: 'Апостиль Федеральной службы по надзору в сфере образования и науки',
      link: './assets/pdf/apostyle.pdf'
    },

    {
      title: 'Апостиль ЗАГС г.Москвы',
      link: './assets/pdf/apostyle.pdf'
    },
   ]

section.main-content
  .container
    h2.lw-section-title Примеры наших работ

    .info-links
      each example in examples
        a(href="example-detail.html" target="_blank")!= example.title
