include ./main-accordeon
include ./tabs

mixin main-page-content(data)
  each item in data
    if item.type === 'info-section'
      section(class= item.cls)
        h2!= item.title
        != item.content

    if item.type === 'tab-section'
      section(class= item.cls)
        +tabs(item.tabs)

    if item.type === 'accordeon-section'
      section.faq-section
        +main-accordeon(item.accordeon, item.accordeonClass)

        a(href= item.linkUrl)= item.linkText

