include ./main-accordeon
include ./tabs
include ./search
include ./main-btn

mixin main-page-content(data)
  h2.lw-section-title!= data.title

  .menu-list
    <ul>
      <li>
        img(src="./assets/img/icon-stamp.svg" alt="Иконка" width="50" height="50")
        <span>Апостиль на нотариальные документы</span>
        <a href="/uslugi/apostil-na-notarialnye-dokumenty.html">Подробнее</a>
      </li>
      <li>
          img(src="./assets/img/icons/icon-stamp.svg" alt="Иконка" width="50" height="50")
          <span>Апостиль на документы ЗАГС</span>
          <a href="/uslugi/apostil-na-dokumenty-zags.html">Подробнее</a>
      </li>
      <li>
        img(src="./assets/img/icon-stamp.svg" alt="Иконка" width="50" height="50")
        <span>Апостиль ГИАЦ МВД(справка о несудимости)</span>
        <a href="/uslugi/apostil-gaits-mvd-spravka-o-nesudimosti.html">Подробнее</a>
      </li>
      <li>
        img(src="./assets/img/icon-stamp.svg" alt="Иконка" width="50" height="50")
        <span>Апостиль на образовательные документы</span>
        <a href="/uslugi/apostil-na-obrazovatelnye-dokumenty.html">Подробнее</a>
      </li>
    </ul>
    <a class="main-btn anchor-link" href="#order" data-scroll-to="order">Рассчитать стоимость</a>

  each item in data.content
    if item.type === 'search'
      div(class= item.cls)
        +search(item.data)

        if item.note
          p.search-section__note!= item.note

        +main-btn({
          type: 'anchor',
          anchor: 'order',
          text: 'Рассчитать стоимость'
        })

    if item.type === 'ordinal-list'
      div(class= item.cls)
        h3!= item.title
        != item.content

    if item.type === 'tab-section'
      section(class= item.cls)
        +tabs(item.tabs)

    if item.type === 'accordeon-section'
      div(class= item.cls ? item.cls : null).accordeon-container
        +main-accordeon(item.accordeon, item.accordeonClass)

        if item.linkUrl
          a(href= item.linkUrl)= item.linkText

