mixin main-btn(data)
  if data.type === 'button' || data.type === 'submit'
    button(type= data.type class= data.cls ? data.cls : null).main-btn.main-btn--button= data.title
  if data.type === 'link'
    a(href= data.url).main-btn= data.title
