include ./main-btn
include ./country-list


mixin page-preview(data)
  h1.lw-section-title!= data.title

  +country-list({
    title: 'Для каких стран необходима консульская легализация документов?',
    type: 'legalization'
  })

  +main-btn({
    type: 'link',
    url: '#',
    title: 'Рассчитать стоимость'
  })
