mixin tabs(data)
  .tab
    .tab-switchers
      each item in data
        a(href="#" data-id= item.id).tab-switcher= item.label
    .tab-content
      each item in data
        .tab-content-field.collapsed(data-tab= item.id)
          each data in item.data
            if data.type === 'banner'
              .tab-content-field-banner
                h3!= data.title
                each content in data.content
                  != content
            else
              if data.title
                h3!= data.title
              if data.subtitle
                h4!= data.subtitle
              each content in data.content
                != content

