mixin tabs(data)
  .tab
    .tab-switchers
      each item in data
        a(href="#" data-id= item.id).tab-switcher= item.label
    .tab-content
      each item in data
        .tab-content-field.collapsed(data-tab= item.id)
          each data in item.data
            h3!= data.title
            each content in data.content
              != content

