section.lw-section.lw-alt-bg.calc-section
  .container


    .calc
      h2.lw-section-title Калькулятор стоимости перевода
      form(action="#")
        .calc__main
          .calc__main-section.calc__main-section--lang
            fieldset
              span.calc-base-text Язык оригинала
              select.custom-select
                option(selected="selected") Английский язык
                option Французский язык
                option Немецкий язык
                option Русский язык

            .calc-lang-switcher(aria-hidden="hidden")

            fieldset
              span.calc-base-text Язык перевода
              select.custom-select
                option Английский язык
                option Французский язык
                option Немецкий язык
                option(selected="selected") Русский язык

          .calc__main-section.calc__main-section--file
            span.calc-base-text Загрузите материал перевода

            <div class="main-input-file-container">
              <input class="main-input--file main-input" type="file" name="FILE_1" id="calc_user_files">
            </div>

          .calc__main-section.calc__main-section--services
            span.calc-base-text Дополнительные услуги

            fieldset.calc__services-group
              .main-checkbox
                input(type="checkbox" id="calc_1" data-price="3000")
                label(for="calc_1").checkbox-label Редактура перевода
              .main-checkbox
                input(type="checkbox" id="calc_2" data-price="7000")
                label(for="calc_2").checkbox-label Консульская легализация
              .main-checkbox
                input(type="checkbox" id="calc_3" data-price="5000")
                label(for="calc_3").checkbox-label Нотариальное заверение
              .main-checkbox
                input(type="checkbox" id="calc_4" data-price="10000")
                label(for="calc_4").checkbox-label Апостиль
              .main-checkbox
                input(type="checkbox" id="calc_5" data-multiplier="1.5")
                label(for="calc_5").checkbox-label Срочность

              .calc__delivery-section
                .main-checkbox.calc__delivery-field.calc__delivery-field--main
                  input(type="checkbox" id="calc_6" data-price="1000")
                  label(for="calc_6").checkbox-label Доставка документации

                //- fieldset.calc__delivery-field.calc__delivery-field--radio.disabled
                //-   input(type="radio" name="calc-delivery-option" id="calc_delivery_1")
                //-   label(for="calc_delivery_1") Москва

                //-   input(type="radio" name="calc-delivery-option" id="calc_delivery_2")
                //-   label(for="calc_delivery_2") РФ

                //-   input(type="radio" name="calc-delivery-option" id="calc_delivery_3")
                //-   label(for="calc_delivery_3") Европа

        .calc__footer
          .calc__footer-section.calc__footer-section--total
            span.calc-base-text Стоимость: <strong class="calc__total-price" data-base-price="15000"> от <span></span> руб*</strong>

            small.calc-base-text *Срок оказания услуги от 3-х дней
            small.calc-base-text *1 переводческая страница - 1800 печатных знаков, включая пробелы
            small.calc-base-text *При заказе от 50 страниц скидка 5%
            small.calc-base-text *При заказе от 100 страниц скидка 10%

          .calc__footer-section.calc__footer-section--submit
            fieldset
              input(type="text" placeholder="Ваше имя").main-input.required-control
            fieldset
              input(type="text" placeholder="Email").main-input.required-control
            fieldset
              input(type="text" placeholder="Номер телефона").main-input
            input(type="submit" value="Заказать перевод").main-btn
            small.calc-base-text Нажимая на кнопку “Заказать перевод”, вы даёте согласие на <a href="#" class="calc-base-text"> обработку персональных данных.</a>
            small.calc-base-text *Вся информация предварительная, точную стоимость и срок выполнения услуг Вам сообщит менеджер.

