-
  const clientList = [
    {
      name: 'РИА НОВОСТИ',
      icon: {
        name: 'ria',
        width: '233',
        height: '80'
      }
    },
    {
      name: 'ПРИВОД',
      icon: {
        name: 'privod',
        width: '150',
        height: '64'
      }
    },
    {
      name: 'Danfoss',
      icon: {
        name: 'danfoss',
        width: '164',
        height: '80'
      }
    },
    {
      name: 'ENHEL beaty',
      icon: {
        name: 'enhel',
        width: '132',
        height: '80'
      }
    },
    {
      name: 'ПСГ',
      icon: {
        name: 'psg',
        width: '101',
        height: '80'
      }
    },
    {
      name: 'Samsung',
      icon: {
        name: 'samsung',
        width: '180',
        height: '80'
      }
    },
    {
      name: 'ТКЦ Центрум',
      icon: {
        name: 'tkc',
        width: '104',
        height: '80'
      }
    },
    {
      name: 'РОССИЯ СЕГОДНЯ',
      icon: {
        name: 'rt',
        width: '340',
        height: '90'
      }
    },
    {
      name: 'KIA',
      icon: {
        name: 'kia',
        width: '134',
        height: '30'
      }
    },
    {
      name: 'ABB',
      icon: {
        name: 'abb',
        width: '100',
        height: '40'
      }
    },
    {
      name: 'Parmalat',
      icon: {
        name: 'parmalat',
        width: '127',
        height: '80'
      }
    },
    {
      name: 'OPKK',
      icon: {
        name: 'opkk',
        width: '171',
        height: '80'
      }
    },
  ]
section.client
  .container
    h2.lw-section-title.client__title Наши клиенты
  .container-fluid
    .crawl-line
      each client in clientList
        svg(width= client.icon.width height= client.icon.height aria-label= client.name)
          use(xlink:href=`./assets/sprite.svg#icon-client-${client.icon.name}`)
