
-
  const footerNavItems = [
    { url: 'index.html', title: 'О компании' },
    { url: 'vacancy.html', title: 'Вакансии переводчиков' },
    { url: 'contact.html', title: 'Контакты' },
    { url: 'partner.html', title: 'Наши партнеры' },
    { url: 'review.html', title: 'Отзывы о нас' },
    { url: 'example.html', title: 'Примеры наших работ' },
    { url: 'template.html', title: 'Образцы доверенностей' },
    { url: 'information.html', title: 'Полезная информация' },
    { url: 'sitemap.html', title: 'Карта сайта' },
  ]

footer.footer
  .container.footer__container
    .footer__company-info
      include ../../components/company-info

    nav.footer__nav
      ul.footer__nav-list
        each item in footerNavItems
          li.footer__nav-list-item
            a(href= item.url)= item.title
    .footer__social
      include ../../components/social
