header.header
  .container.header__container
    .header__top
      a(href="index.html" aria-label="На главную").main-logo
        img(src="./assets/img/logo.svg" alt="Buroimpression.ru" width="160" height="50")

      include ../../components/lang-switcher

      .header__contact
        a(href="tel:+74959285366").header__contact-phone +7 495 928-53-66
        a(href="mailto:info@buroimpression.ru").header__contact-mail info@buroimpression.ru

      .header__burger
        include ../../components/burger
    .header__bottom.main-menu
      include ../../components/main-nav

