header.header
  .container.header__container
    .header__top
      a(href="index.html" aria-label="На главную").main-logo
        img(src="./assets/img/logo.svg" alt="Buroimpression.ru" width="160" height="50")

      .header__address
        span г.Москва, Петроверигский пер., д.3с1
        span г.Москва, ул.Марксистская, д.10с1, э.3, оф.306

      button(type="button" aria-label="Поиск по сайту").search-field-opener
        img(src="./assets/img/icon-search.svg" alt="search" width="16" height="16")

      <div class="search-field">
        <div class="container search-field-container">
          <div id="title-search" class="search-field-wrapper">
            <form action="/search/index.php" class="search-field-form">
              <input class="search-field-field" id="title-search-field-input" type="text" name="q" value="" size="40" maxlength="50" autocomplete="off">
              <button class="search-field-submit" type="submit" aria-label="Поиск" name="s" value="Поиск">
                img(src="./assets/img/icon-search.svg" alt="search" width="16" height="16")
              </button>
            </form>
          </div>
          <button class="search-field-closer" aria-label="Закрыть поиск">
            <img src="./assets/sprite.svg#icon-close" alt="Закрыть" width="24" height="24">
          </button>
        </div>
      </div>

      include ../../components/lang-switcher

      .header__contact
        a(href="tel:+74959285366").header__contact-phone +7 495 928-53-66
        a(href="mailto:info@buroimpression.ru").header__contact-mail info@buroimpression.ru

      .header__burger
        include ../../components/burger
    .header__bottom.main-menu
      include ../../components/main-nav

