include ../../mixins/main-slider

-
  const reviewData = {
    cls: 'main-slider--review',
    list: [
      { img: 'review-ria', title: 'РИА НОВОСТИ'},
      { img: 'review-privod', title: 'ПРИВОД'},
      { img: 'review-danfoss', title: 'Danfoss'},
      { img: 'review-psg', title: 'ПСГ'},
      { img: 'review-samsung', title: 'Samsung'},
      { img: 'review-tkc', title: 'ТКЦ Центрум'},
      { img: 'review-rt', title: 'РОССИЯ СЕГОДНЯ'},
    ]
  }

section.more-service.section-bg
  .container
    .service-slider-container
      .more-service__header
        span.lw-section-title Возможно, Вам будет интересно:

        .service-slider-controls
          .swiper-button-prev.service-slider-button-prev
            svg(width="12" height="16")
              use(xlink:href="./assets/sprite.svg#icon-slide-button-arrow")
          .swiper-button-next.service-slider-button-next
            svg(width="12" height="16")
              use(xlink:href="./assets/sprite.svg#icon-slide-button-arrow")

      .swiper.service-slider
        .swiper-wrapper
          .swiper-slide
            include ../../components/service-card
          .swiper-slide
            include ../../components/service-card
          .swiper-slide
            include ../../components/service-card
          .swiper-slide
            include ../../components/service-card
          .swiper-slide
            include ../../components/service-card




