section.vacancy
  .container
    h2.lw-section-title Вакансии переводчиков

    p Уважаемые переводчики! Если Вы хотите работать с нами, просим Вас отправить свое резюме по адресу <a href="mailto:job@buroimpression.ru">job@buroimpression.ru</a>.

