section.info-block-section
  .container
    h2.lw-section-title Получение справки об отсутствии судимости

    .info-block
      .info-block__section
        strong Получить справку об отсутствии судимости можно двумя способами:

        ul.info-block__section-list
          li
            p В ГИАЦ МВД России и в информационных центрах ведомств МВД, ГУВД, УВД субъектов РФ.
          li
            p Через Генеральное консульство РФ – данный способ не подходит для тех, кому необходима легализация или апостилирование справки.

      .info-block__section
        h3 СПРАВКА О НЕСУДИМОСТИ

        p <strong>Вы можете получить справку об отсутствии судимости через сотрудника компании «Импрешн».</strong> Это сбережёт для Вас время и нервы. Мы оказываем такую услугу регулярно. Для получения справки об отсутствии судимости через нашего сотрудника Вам необходимо оформить нотариально заверенную доверенность или доверенность, заверенную в консульстве РФ на территории иностранного государства.

        p Подробнее о стоимости и сроках получения справки о наличии (отсутствии) судимости смотрите <a href="price.html">здесь</a>.
