.lw-section.about
    .container.about__container
        .grid-side
            h2.lw-section-title О нашей компании
            .info-block
                p Особенности нашего бюро переводов отображаются в нашем названии Impression (Импрешн), что в переводе с английского языка обозначает «Впечатление». Мы хотим, чтобы от нашей работы у клиентов оставались только хорошие впечатления. Поэтому мы собрали команду настоящих профессионалов своего дела. Все менеджеры, переводчики и редакторы нашего бюро имеют высшее лингвистическое образование и владеют несколькими иностранными языками. Кроме того в нашей команде есть сотрудники с высшим техническим, юридическим и медицинским образованием. Это помогает нам выполнять переводы на высшем уровне со знанием своего дела в любой тематике. Мы уверенно выполняем юридические, технические и медицинские переводы. А благодаря большому опыту, образованию и литературным способностям, мы с удовольствием выполняем художественные переводы, а также переводы рекламного характера.
                p Основу нашей деятельности составляют письменные переводы с иностранных языков. Однако мы являемся экспертами в оказании услуг по консульской легализации и апостилированию документов для разных стран, а также в истребовании документов в различных государственных органах (справок и повторных свидетельств из органов ЗАГС, справок об отсутствии судимости,  дубликатов дипломов и аттестатов в образовательных учреждениях и иных документов).
                p Наша бюро переводов сотрудничает с лучшими нотариусами в городе Москва и Московской области. Это позволяет нам оперативно решать задачи любой сложности.
                p Наши сотрудники очень ответственно подходят к любой задаче, что позволяет практически всегда гарантировать положительный результат. Вы можете смело доверить нам любое дело. Мы Вас не подведём.
                p Не удивляйтесь, если нас будут рекомендовать сотрудники различных посольств, Министерства юстиции или МИД РФ, если Вам потребуется консульская легализация Ваших документов. Они знают, что мы всё сделаем правильно и максимально быстро.
                p Благодаря всему вышесказанному наша компания уверенно занимает ведущие позиции на рынке переводческих услуг, где мы работаем уже более 15 лет.  Мы не стараемся завышать цены для увеличения своей прибыли. Для нас главное – впечатление, которое останется у Вас от нашей работы. И тогда, возможно, Вы захотите поделиться им со своими знакомыми, а мы сможем помочь и им тоже.

                .about__grid
                    .about__grid-item
                        span 10x
                        p Increase in productivity
                    .about__grid-item
                        span 300%
                        p Return on investment
                    .about__grid-item
                        span 5k+
                        p Happy customers
                    .about__grid-item
                        span 100+
                        p 5-star reviews
        img(src="./assets/img/sale-icon.png" alt="Иконка" width="600" height="600")
