include ../../mixins/main-slider

-
  const certificateData = {
    cls: 'main-slider--certificate',
    list: [
      { img: 'certificate_1', title: ''},
      { img: 'certificate_2', title: ''},
      { img: 'certificate_3', title: ''},
      { img: 'certificate_4', title: ''},
    ]
  }

section.lw-section
  .container
    .main-slider-section-header
      h2.lw-section-title Сертификаты

      .swiper-button-prev.main-slider-button-prev
        //svg(width="12" height="16")
          use(xlink:href="./assets/sprite.svg#icon-slide-button-arrow")
        span.lw-icon.lw-icon--accent &#xe95a;
      .swiper-button-next.main-slider-button-next
        //svg(width="12" height="16")
          use(xlink:href="./assets/sprite.svg#icon-slide-button-arrow")
        span.lw-icon.lw-icon--accent &#xe95a;

  .container-fluid
    +main-slider(certificateData)
