
.lw-section
    .container
        h2.lw-section-title.price-list-section Стоимость наших услуг
        .price-list-section-field
            .table-wrapper
                table
                    tbody
                        tr
                            td Язык перевода
                            td Стоимость перевода, ₽
                            td
                        tr  
                            td
                            td Паспорт, свидетельство о рождении, свидетельство о заключении брака, свидетельство о расторжении брака, свидетельство о смерти, свидетельство о перемене имени, водительское удостоверение, аттестат, диплом, справки, согласие, доверенность и др.	
                            td Пвухстраничные личные документы (доверенности, приложения к дипломам и т.д.)
                        tr 
                            td Английский, немецкий языки
                            td от 1000 / (срочно) от 1500
                            td от 1500 / (срочно) от 1900 
                        tr 
                            td Испанский, итальянский, португальский, французский языки
                            td от 1300 / (срочно) от 1700
                            td от 2000 / (срочно) от 2600
                        tr  
                            td Другие языки
                            td от 1000 до 1800 / (срочно) от 1500 до 2300 
                            td от 1200 до 2500 / (срочно) от 1500 до 2800

        small *Срочным считается перевод, выполненный в течение 3 часов с момента оформления заказа. Стандартный — 1 рабочий день.   

//- <div class="price-list-section" style="margin-bottom:30px;">
//- 	<h2 class="info-block__title price-list-section-title" style="margin-bottom:30px;">Подтверждение образовательных документов</h2>
//-       <div class="price-list-section-field">
//- 		<h3 class="price-list-section-field-title" style="color:var(--accent);font-weight:600; margin-bottom:20px;">Италия. DICHIARAZIONE DI VALORE</h3>
//- 			<div class="table-wrapper" style="margin-bottom:10px;">
//- 				<table>
//- 					<tbody>
//- 						<tr>F 
//-                             <td style="font-weight:700;">
//- 							   Стоимость за комплект документов
//-                             </td>
//- 							<td style="font-weight:700;">
//- 								Сроки														
//-                             </td>
//- 						</tr>
//- 						<tr>
//- 							<td>Удостоверение верности перевода в консульском отделе посольства Италии в Москве</td>															
//- 							<td style="width:calc(100% / 3)">
//- 								3500**&nbsp;руб.																	
//-                             </td>																																															
//- 							<td style="width:calc(100% / 3)">
//- 								от 3 рабочих дней		
//- 							</td>				
//- 																																													</tr>
//- 					</tbody>	
//- 				</table>
//- 		    </div>
//- 		</div>
//- 	<div class="price-list-section-field">
//- 		<h3 class="price-list-section-field-title" style="color:var(--accent);font-weight:600; margin-bottom:20px;">Испания. HOMOLOGACION DE TITULO</h3>
//- 			<div class="table-wrapper" style="margin-bottom:10px;">
//- 				<table>
//- 					<tbody>
//- 						<tr>
//- 							<td style="font-weight:700;">
//- 								Услуга														
//-                             </td>
//- 							<td style="font-weight:700;">
//- 								Стоимость за комплект документов														
//-                             </td>
//- 							<td style="font-weight:700;">
//- 								Сроки														
//-                             </td>
//- 						</tr>

//- 						<tr>
//- 							<td>Подтверждение образовательных документов (Dichiarazione di valore)
//-                             </td>
															
//- 							<td style="width:calc(100% / 3)">
//- 								3500***&nbsp;руб.																	
//-                             </td>																																																
//- 							<td style="width:calc(100% / 3)">
//- 								от 3 рабочих дней		
//- 							</td>																																																	</tr>
//- 						<tr>
//- 							<td>Удостоверение верности перевода в консульском отделе посольства Испании в Москве</td>															
//- 							<td style="width:calc(100% / 3)">
//- 								3500**&nbsp;руб.																	
//-                             </td>
//- 							<td style="width:calc(100% / 3)">
//- 								от 2 рабочих дней		
//- 							</td>																																																	</tr>
//- 					</tbody>	
//- 			</table>
//- 		</div>
//- 	</div>
																								
//- 		<small style="display:block;margin-bottom:10px;">*Стоимость данной услуги за каждый последующий документ составит 1000 рублей (без учета суммы консульского сбора).</small>
//- 		<small style="display:block;margin-bottom:10px;">**НЕ включая консульский сбор. Консульский сбор составляет 13 евро за одну фактическую страницу перевода.</small>
//- 		<small style="display:block;margin-bottom:10px;">***НЕ включая консульский сбор. Консульский сбор состоит из 3-х сумм: 41 евро (за титульную страницу Dichiarazione di valore ) + 10 евро (за одну страницу копии образовательного документа) + 13 евро (за одну фактическую страницу перевода).</small>
//- 																									<!--end price-list-section-->
//- </div>