include ../../mixins/contact-card

section.contact
  .container
    .contact-detail
      .contact-detail__field.contact-detail__field--img

        .contact-detail__worktime-plate
          img(src="./assets/img/office-plate.png" alt="Режим работы" width="120" height="180" aria-hidden="true")
          .contact-detail__worktime-plate-info
            strong Режим работы:
            span Пн-Чт: <br>с 10:00 до 18:00
            span Пт: <br>с 10:00 до 17:00 <br>(без перерыва)
        img(src="./assets/img/office-img.jpg" alt="" width="720" height="400")

      .contact-detail__field.contact-detail__field--main
        h1 Бюро переводов на Марксистской.

        .contact-card
          .contact-card__field
            strong Адрес:
            address г. Москва, ул. Марксистская, дом 10, 3 этаж, оф. 306.

          .contact-card__field
            strong Телефон:
            .contact-card__field-row
              a(href="#") +7(495) 928-53-66,
              a(href="#") +7(495) 928-53-66

          .contact-card__field
            strong Адрес:
            address г. Москва, ул. Марксистская, дом 10, 3 этаж, оф. 306.

          .contact-card__field.contact-card__field--worktime
            strong Режим работы:
            span Пн-Чт: с 10:00 до 18:00 Пт: с 10:00 до 17:00 (без перерыва)

          .contact-card__field
            strong Телефон:
            .contact-card__field-row
              a(href="#") +7(495) 928-53-66
              a(href="#") +7(495) 928-53-66

          .contact-card__field
            strong Адрес:
            address г. Москва, ул. Марксистская, дом 10, 3 этаж, оф. 306.

          .contact-card__field
            strong Телефон:
            .contact-card__field-row
              a(href="#") +7(495) 928-53-66
              a(href="#") +7(495) 928-53-66

      .contact-detail__field.contact-detail__field--desc
        p Единственный выход из ст. Марксистская, из стеклянных дверей – прямо. Выходите на улицу и идете прямо около 60 метров. Желто-белый 4 этажный исторический особняк, через калитку входите на территорию, заходите в здание (подъезд находится по правую руку), проходите прямо до лестницы и поднимаетесь на 3-й этаж.

        p На третьем этаже проходите по коридору прямо до конца и, повернув налево, оказываетесь перед нашим офисом № 306.

        p Если заблудитесь, не стесняйтесь – звоните, мы с радостью Вам подскажем!

      .contact-detail__field.contact-detail__field--map
        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A167933fbb8e8f2f9c4204963d0359fbcc0e012e00f76dd041a5d8da211457aa6&amp;source=constructor" width="800" height="500" frameborder="0"></iframe>
