section.not-found
  .container.not-found__container
    picture
      source(srcset="./assets/img/404@1x.webp 1x, ./assets/img/404@2x.webp 2x" type="image/webp")
      img(src="./assets/img/404@1x.png" srcset="./assets/img/404.png 2x" alt="Страница не найдена" width="554" height="210")

    h1.lw-section-title Страница не найдена
