include ./head

doctype html

block variables
  -
    const title = ""
    const desc = ""
    const keywords = ""

html(lang="ru")
  +head(title, desc, keywords)

  body.loading
    include ../views/common/header

    main
      block content

    include ../views/common/footer

    block modals

    block scripts
      //script(src="./js/bundle.js")
