.partner {
  @extend .section-padding-80;

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;

    @include m-b-tablet-lg-down {
      grid-template-columns: 1fr;
    }
  }
}
