include ../../mixins/lw-info-card/full
include ../../mixins/lw-info-card/short

section.sale
  .container
    h2.lw-section-title Акции и спецпредложения

    ul.sale__list
      li
        +lw-info-card-full({
          title: 'Перевод любого документа на украинский язык со скидкой&nbsp;10%',
          untilTo: '*Действует до 31 августа',
          text: 'Для клиентов сотрудники Бюро переводов разработали несколько выгодных решений, позволяющих упростить взаимодействие и расширить круг возможностей. Следите за акциями. Следите за акциями. Следите за акциями. Следите за акциями. Следите за акциями. Следите за акциями. '
        })

      li
        +lw-info-card-full({
          title: 'Перевод язык со скидкой 10%',
          untilTo: '*Действует до 31 августа',
          text: 'Для клиентов сотрудники Бюро переводов разработали '
        })

      li
        +lw-info-card-full({
          title: 'Перевод любого документа на украинский язык со скидкой&nbsp;10%',
          untilTo: '*Действует до 31 августа',
          text: 'Для клиентов сотрудники Бюро переводов разработали несколько выгодных решений, позволяющих упростить взаимодействие и расширить круг возможностей. Следите за акциями. Следите за акциями. Следите за акциями. Следите за акциями. Следите за акциями. Следите за акциями. '
        })

      li
        +lw-info-card-full({
          title: 'Перевод язык со скидкой 10%',
          untilTo: '*Действует до 31 августа',
          text: 'Для клиентов сотрудники Бюро переводов разработали '
        })

      li
        +lw-info-card-short({
          title: 'Перевод язык со скидкой 10%',
          untilTo: '*Действует до 31 августа',
          text: 'Для клиентов сотрудники Бюро переводов разработали '
        })


