include ../../mixins/main-btn

section.info-page
  .container
    h2.lw-section-title Афганистан
    .info-block
      .info-block__section.info-block__section--float
        .side
          picture
            source(srcset="./assets/img/legal_afgan@1x.webp 1x, ./assets/img/legal_afgan@2x.webp 2x" type="image/webp")
            img(class="zoomable" src="./assets/img/legal_afgan@1x.jpg" srcset="./assets/img/legal_afgan.jpg 2x" alt="Пример легализации для Афганистана" width="600" height="850")

        .side
          p Легализация документов для Афганистана требуется для того, чтобы эти документы были официально признаны на территории Афганистана.
          p Мы осуществляем <strong>легализацию документов</strong>, как для компаний, так и для частных лиц. Исламское Государство Афганистан - государство, расположенное на юго-западе Азии. Это многонациональное государство, в котором проживает более 20 народностей: пуштуны (более 50%), таджики (около 20%), узбеки (9%), хазарейцы (9%) и др.
          p Официальными языками Афганистана являются <strong>пушту</strong> и <strong>дари</strong>.
          p Однако при легализации документов для Афганистана перевод можно осуществить и на английский язык. Легализация документов для Афганистана включает в себя процедуры по надлежащему оформлению документов, их переводу на необходимый язык, а так же заверению этих документов в ряде инстанций: нотариус, Министерство юстиции, Консульский департамент МИД и конечно Консульский отдел Посольства Афганистана в РФ. Подготавливая документы, следует соблюсти все требования к оформлению этого документа, чтобы не получить отказ в том или ином органе и не потерять время на переоформление документа. Для быстрого получения конечного результата – правильно оформленного легализованного документа, лучше обратиться к специалистам, которые имеют большой опыт в легализации документов.
          p Бюро переводов «Импрешн» оказывает услугу по легализации различного рода документов для Афганистана. Чтобы получить информацию по конкретным документам, обращайтесь по телефонам, указанным в разделе <a href="contacts.html">Контакты</a>, или же приходите к нам в офис.

      a(href="index.html") Вернуться назад
