include ../../mixins/main-btn

section.info-page
  .container
    h2.lw-section-title Абхазский язык
    p <strong>Цены за перевод, ₽:</strong>

    .info-block
      .info-block__section
        .grid-table
          .grid-table-row.grid-table-row--head
            strong Письменный перевод

          .grid-table-row
            span C абхазского языка на русский язык:
            span <strong>900₽</strong><br/> за 1 переводческую страницу (1800 знаков с пробелами)

          .grid-table-row
            span C русского языка на абхазский язык:
            span <strong>900₽</strong><br/> за 1 переводческую страницу (1800 знаков с пробелами)

          .grid-table-row
            span Перевод паспорта, свидетельства о браке, свидетельства о рождении с нотариальным заверением:
            span <strong>от 4000 ₽/час</strong><br/> (заказ от 2 часов)

          .grid-table-row.grid-table-row--head
            strong Устный перевод

          .grid-table-row
            span Абхазский — русский — абхазский:
            span <strong>от 1000₽</strong>

        +main-btn({
          type: 'anchor',
          anchor: 'order',
          text: 'Рассчитать стоимость'
        })

      .info-block__section
        p <strong>Абхазский язык</strong> – официальный язык Автономной Республики Абхазия. Кроме того, он распространен в Турции, некоторых странах ближнего Востока и Европы, а так же в России. Более 120 тысяч человек по всему миру являются носителями этого языка.
        p <strong>Перевод с абхазского языка на русский язык</strong> с каждым днем становится все более востребованным. В настоящее время это характерно для всех видов перевода: технического, юридического, медицинского и художественного.
        p Наше бюро переводов имеет большой опыт в осуществлении переводов, как с абхазского языка на русский язык, так и с русского языка на абхазский язык.
        p <strong>Мы осуществляем письменные переводы следующих видов:</strong>

        ul.info-block__section-list
          li
            p технический перевод
          li
            p юридический перевод
          li
            p медицинский перевод
          li
            p художественный перевод

        p При необходимости мы осуществляем нотариальное заверение выполненных переводов или заверяем эти переводы печатью нашего бюро. Кроме этого, наша компания оказывает услуги по устному переводу с/на абхазский язык.

      .info-block__section
        h3 Технический перевод с абхазского языка

        p Спрос на технический перевод с абхазского языка на русский язык существует уже давно. Сотрудничество между этими странами только укрепляется в последние несколько лет, что неизбежно влияет на стабильный рост спроса.
        p <strong>Мы осуществляем технические переводы с абхазского языка на русский язык и с русского языка на абхазский язык различной технической литературы:</strong>

        ul.info-block__section-list
          li
            p перевод технических описаний и каталогов оборудования
          li
            p перевод инструкций по эксплуатации и монтажу
          li
            p перевод чертежей и спецификаций к ним
          li
            p перевод научно-технических работ и статей

        p В нашем бюро технический перевод с абхазского языка на русский язык и перевод с русского языка на абхазский язык осуществляют различные специалисты, знающие техническую терминологию в необходимой тематике: машиностроение, нефтегазовая промышленность, пищевая промышленность, тепловая и холодильная техника, ракетостроение и космическая отрасль, авиация, судостроение, электрическое оборудование, электроника, компьютеры и программное обеспечение, и многие другие.
        p Мы оказываем полный комплекс услуг по переводу, вёрстке и печати технической литературы. Вы можете передать нам каталог, чертёж, спецификацию и другую литературу в бумажном виде на абхазском языке и получить точно такую же литературу только на русском языке.
      .info-block__section
        h3 Юридический перевод с абхазского языка

        p Перевод с абхазского языка юридической тематики становится все более востребованным и распространенным в России. Давнее и все расширяющееся сотрудничество между Россией и Абхазией во многих сферах провоцирует стабильное увеличение спроса на юридический перевод с/на абхазский язык.
        p Также юридический перевод в рамках этой языковой пары часто необходим для перевода документов личного характера.

        p <strong>Наиболее часто у нас заказывают:</strong>

        ul.info-block__section-list
          li
            p перевод доверенности с абхазского языка на русский язык
          li
            p перевод согласия на вывоз ребёнка с абхазского языка на русский язык
          li
            p перевод паспорта с абхазского языка на русский язык
          li
            p перевод свидетельства о браке с абхазского языка на русский язык
          li
            p перевод свидетельства о рождении с абхазского языка на русский язык
          li
            p перевод аттестата с абхазского языка на русский язык
          li
            p перевод диплома и приложения к нему с абхазского языка на русский язык
          li
            p перевод завещания на абхазский язык, а также ряда других документов

        p В большинстве случаев эти переводы документов впоследствии требуют нотариального заверения.
        p Мы осуществляем по требованию заказчика заверение переводов нотариально или печатью нашего бюро.

      .info-block__section
        h3 Медицинский перевод с абхазского языка

        p Медицинский перевод с/на абхазский язык пользуется спросом в связи с давним сотрудничеством Абхазии с Россией, в том числе и в сфере медицины.

        p <strong>Мы осуществляем медицинский перевод с абхазского языка на русский язык и с русского языка на абхазский язык следующих видов документов:</strong>

        ul.info-block__section-list
          li
            p медицинские заключения, эпикризы, медицинские справки, выписки из истории болезни, протоколы исследований и т. д.
          li
            p фармацевтическая документация, рецепты врачей, направления на исследования, инструкции по применению лекарственных препаратов и т. д.
          li
            p инструкции по настройке и эксплуатации медицинских приборов, а так же другой медицинской техники
          li
            p перевод медицинских научно-исследовательских работ, статей для медицинских журналов, диссертаций, учебных пособий, медицинских справочников и т. д.

        p Медицинский перевод требует от переводчиков повышенного внимания и знания данной тематики.
        p Наши переводчики абхазского языка – это специалисты, обладающие знаниями медицинской терминологии, занимающиеся данным видом деятельности на протяжении долгого времени. Мы осуществляем перевод текстов по медицинской тематике любого уровня сложности.

      .info-block__section
        h3 Художественый перевод с абхазского языка

        p Художественная литература Абхазии, которая берёт свое начало в Абхазском национальном фольклоре, разнообразна и является гордостью своей страны. Помимо перевода литературных текстов, к художественному переводу можно отнести перевод текстов журнальных статей, рекламных материалов, писем и туристических брошюр, что невероятно актуально, учитывая то, что туризм очень важен для этой страны.

        p <strong>Наше бюро имеет большой опыт в осуществлении художественного перевода с абхазского языка на русский язык и перевода с русского языка на абхазский язык следующих видов художественных текстов:</strong>

        ul.info-block__section-list
          li
            p художественные книги, рассказы и журнальные статьи
          li
            p печатные материалы СМИ, тексты радио- и телепрограмм, сообщения информационных агентств
          li
            p частная переписка, публичные речи и обращения, тексты для сайтов
          li
            p рекламные материалы и туристические брошюры

        p Мы гарантируем качество выполненных переводов, конфиденциальность и соблюдение сроков выполнения работ по переводу.

      a(href="#") вернуться назад
